<carousel [interval]="3000" indicators="false" [isAnimated]="true">
    <slide>
        <div class="img_container_carsolue">
            <img src="assets/images/movies_carousel_img1.avif" alt="first slide" style="display: block; width: 100%;">
        </div>
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide>
    <slide>
        <div class="img_container_carsolue">

            <img src="assets/images/movies_carousel_img2.avif" alt="second slide" style="display: block; width: 100%;">
        </div>
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide>
    <!-- <slide>
        <div class="img_container_carsolue">

            <img src="assets/images/carousel-img-3.png" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide> -->
</carousel>