<!-- Top-Header  -->


<div class="conatiner-fluid ">
    <div class="row g-0">
        <div class="main_header_container d-flex justify-content-center bg-white">
            <div class="col-8 ">
                <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-between">
                    <div class="col-3 mb-2 mb-0 d-flex">
                        <a [routerLink]="['/explore/home/',commonService._selectCity()]"
                            class="d-inline-flex link-body-emphasis text-decoration-none">
                            <img src="assets/images/logo.png" alt="" class="logo">
                        </a>
                        <div class="d-flex align-items-center">
                            <app-searchBox></app-searchBox>
                        </div>
                    </div>

                    <div class="col-4 text-end d-flex justify-content-end px-4">

                        <!-- City Selector -->
                        <span class="dropdown_city_text" (click)="openCityModal(cityModal)">
                            {{selectedCity || 'City'}}
                            <i class="fa fa-angle-down ms-2" aria-hidden="true"></i>
                        </span>
                        @if (!authService.userDetailsSignal()) {
                        <button class="badge ms-3" (click)="openLoginModal()">Sign in</button>
                        <span class="ms-3">
                            <i class="fa fa-bars bars_icon" aria-hidden="true" data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            </i>
                        </span>
                        } @else {

                        <p class="d-flex gap-1 align-items-center mt-1 ms-1" data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                            <i class="fa fa-user-circle fa-circle_header" aria-hidden="true"></i>
                            <span class="fa-circle_header">Hi, {{ authService.userDetailsSignal()?.sub || 'User'
                                }}</span>
                        </p>
                        }


                    </div>

                </header>
            </div>
        </div>

    </div>


</div>

<!-- Sub Headers -->

<div class="container-fluid ">
    <div class="row">
        <div class="main_conatiner_sub_header d-flex justify-content-center  border-bottom">
            <div class="col-8">
                <div class="sub_header">
                    <div class="sub_header_left">
                        <div class=" sub_heder_left_links">
                            <a [routerLink]="['explore/movies']" (click)="onClickCategory('Movies')"
                                [ngClass]="{'fontBold':selectedCategory== 'Movies'}">Movies</a>

                            <a [routerLink]="['explore/events']" (click)="onClickCategory('Events')"
                                [ngClass]="{'fontBold':selectedCategory=='Events'}">Events</a>

                            <a [routerLink]="['explore/plays']" (click)="onClickCategory('Plays')"
                                [ngClass]="{'fontBold':selectedCategory=='Plays'}">Plays</a>

                            <a [routerLink]="['explore/sports']" (click)="onClickCategory('Sports')"
                                [ngClass]="{'fontBold': selectedCategory=='Sports'}">Sports</a>

                            <a [routerLink]="['explore/activities']" (click)="onClickCategory('Activities')"
                                [ngClass]="{'fontBold':selectedCategory=='Activities'}">Activities</a>

                            @if (authService.userDetailsSignal()?.role =='ADMIN') {
                            <a [routerLink]="['/admin/users']">Users</a>
                            }
                        </div>
                    </div>
                    <div class="sub_header_right">
                        @if(authService.userDetailsSignal()?.role !='USER' && authService.userDetailsSignal()?.role
                        =='ADMIN'){
                        <div class=" sub_heder_right_links">
                            <a [routerLink]="['/admin/list-your-show']">ListYourShow</a>
                            <a [routerLink]="['/admin/create/venue']">Venues</a>
                            <a [routerLink]="['/admin/content']">Content</a>
                            <a [routerLink]="['/admin/shows']">Shows</a>
                        </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if(commonService._profileHeader()){
<div class="sub_profile_header">
    <div class="col-6">
        <div class="sub_header_profile_cotainer">
            <div class="sub_header_left">
                <a [routerLink]="['my-profile/your-order']">Your Orders</a>
                <a [routerLink]="['my-profile/edit']">Profile</a>

            </div>
        </div>
    </div>
</div>
}





<!-- SideBar Offcanvas  -->
<div class="offcanvas offcanvas-end p-0" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header px-2">
        <div class="full_with d-flex justify-content-between align-items-center">
            <div class="hey_text">
                <h5 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Hey!</h5>
                @if (authService.userDetailsSignal()?.role =='USER') {
                <span class="edit_profile" routerLink="my-profile" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample">Edit-Profile <i class="fa fa-angle-right ms-1"
                        aria-hidden="true"></i>
                </span>
                }

            </div>
            <div class="user_icon">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="offcanvas-body p-0">

        @if(!authService.userDetailsSignal()) {
        <div class="unlock_special_offer_box border-top">
            <div height="40px" width="40px" class="unlock_special_offer_img bg-none ">
                <img alt="rewards" width="40px" height="40px" src="assets/images/rewards_login.png">
            </div>
            <p class="unlock_special_offer_text m-0">Unlock special offers &amp; great benefits</p>
            <button class="unlock_special_offer_button" (click)="openLoginModal()" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample">Login /
                Register</button>
        </div>
        }

        <div class="main_sidebar_data ">
            <div class="d-flex flex-column grow-2 py-2">
                <a class="d-flex justify-content-between align-items-center info_conatiner" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>

                        <div class="info_text">
                            <p class="m-0">Get tickets on Whatsapp/SMS!</p>
                            <span>Add your Mobile Number</span>
                        </div>
                    </div>
                    <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
                </a>
                <a class="d-flex justify-content-between align-items-center links_sidebar" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>

                        <div class="info_text">
                            <p class="m-0">Notifications</p>
                        </div>
                    </div>
                    <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
                </a>
                @if(authService.getUserFromToken()?.role == 'USER'){
                <a class="d-flex justify-content-between align-items-center links_sidebar" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <div class="info_text">
                            <p class="m-0">Your Orders</p>
                            <span>View all your bookings & purchases</span>
                        </div>
                    </div>
                    <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
                </a>
                }



                @if(authService.getUserFromToken()?.role == 'ADMIN'){
                <a class="d-flex justify-content-between align-items-center links_sidebar"
                    [routerLink]="['/admin/users']" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <div class="info_text">
                            <p class="m-0">User List</p>
                            <!-- <span>View all your Users List </span> -->
                        </div>
                    </div>
                    <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
                </a>
                <a class="d-flex justify-content-between align-items-center links_sidebar" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasExample">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <div class="info_text">
                            <p class="m-0">Your Events</p>
                            <span>View all your Events </span>
                        </div>
                    </div>
                    <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
                </a>
                }
            </div>

            @if(authService.userDetailsSignal()) {
            <div class="button_section">
                <button class="button_sign_out w-100" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    (click)="logout()">Sign
                    out</button>
            </div>

            }
        </div>
    </div>
</div>





<!-- City-Dropdown-modal  -->
<ng-template #cityModal let-modal>
    <div class="modal-header d-block modal_header">
        @if(commonService._selectCity()){
        <div class="px-2 py-2 text-end">
            <i class="fa fa-times-circle" aria-hidden="true" (click)="closeCityModal(modal)"></i>
        </div>
        }

        <div class="input-group  ">
            <span class="input-group-text">
                <i class="fa fa-search"></i>
            </span>
            <input type="text" class="form-control border-start-0" name="search-city" placeholder="Search for cities"
                [formControl]="searchControl">
            @if(searchControl.value?.length >0){
            <div class="icon_clear_search">
                <i class="fa fa-times-circle" aria-hidden="true" (click)="clearSearch()"></i>
            </div>
            }
        </div>
        @if(searchControl.value?.length > 0 && filteredCities.length > 0){
        <div class="city_search_list">
            <ul>
                @for (city of filteredCities; track $index) {
                <li (click)="selectCity(city.cityName, modal)">
                    {{ city.cityName }}
                </li>
                }
            </ul>
        </div>
        }




        <span class="detect_my_location_text text-danger mt-3"> <i class="fa fa-map-marker me-2" aria-hidden="true"></i>
            Detect my location</span>
    </div>
    <div class="modal-body p-0">
        <p class="text-center mt-1">Popular Cities</p>

        <div class="py-2 d-flex gap-2 px-3 justify-content-around">

            @for (item of cityData; track $index) {

            <div class="main-view-city-container d-flex " (click)=" selectCity(item.cityName,modal)"
                [ngClass]="{'selected-popular-city': item.cityName === selectedCity}">
                <div class=" d-flex flex-column justify-content-center align-items-center">
                    <img [src]="getImageFromBase64(item.imageUrl)" alt="" class="img-fluid city_section">
                    <p class="p-0 m-0 city_name">{{item.cityName}}</p>
                </div>
            </div>
            }


        </div>
        @if(showCities){
        <div class="main_container">
            @if (showCities) {
            <p class="text-center mt-1">Other Cities</p>
            }
            <div class="other_cities_list px-3" [ngClass]="{'other_cities_list': citiesJson}">
                <div class="list_cities py-2">
                    @for (item of citiesJson; track $index) {
                    <p class="m-0" (click)="selectCity(item.cityName,modal)"
                        [ngClass]="{'selected-other-city': item.cityName === selectedCity}"> {{item.cityName}}</p>
                    }
                </div>

            </div>
        </div>
        }


    </div>

    <div class="modal-footer text-center d-block">
        <a class="view_city" (click)="viewAllCities()"> {{viewCitiesText}} </a>
    </div>
</ng-template>