.logo {
  height: 60px;
}

.dropdown_city_text {
  font-size: 14px;
  cursor: pointer;
  margin-top: 3px;
}

.badge {
  border: none;
  background: rgb(235, 78, 98);
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
  padding: 5px 10px;
}

.fa-bars,
.fa-circle_header {
  color: rgb(170, 170, 170);
  font-size: large;
  cursor: pointer;
}

.sub_header {
  padding: 0px;
  width: 100%;
  background: rgb(245, 245, 245);
}

.sub_profile_header {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 100%;
  background: rgb(204, 204, 204);
}

.sub_header_profile_cotainer .sub_header_left a {
  padding: 10px 12px;
  color: rgb(0, 0, 0);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  background: rgb(204, 204, 204);
  text-decoration: none;
  cursor: pointer;
}

.main_conatiner_sub_header {
  padding: 10px;
  background: rgb(245, 245, 245);
}

.sub_header {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: space-between;
}

.sub_header_left .links,
.sub_header_right .links {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  padding: 0px 10px;
  text-decoration: none;
}

.sub_header_left .sub_heder_left_links a {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  padding: 0px 10px;
  text-decoration: none;
}

.sub_header_right .sub_heder_right_links a {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  padding: 0px 12px;
  text-decoration: none;
}

//side bar
.edit_profile {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: rgb(102, 102, 102);
  padding-right: 2px;
}

.unlock_special_offer_box {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 12px 16px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0.5px;
  justify-content: space-between;
  z-index: 1;
}

.unlock_special_offer_box .unlock_special_offer_text {
  color: rgb(116, 126, 170);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding: 0px 16px;
}

.unlock_special_offer_box .unlock_special_offer_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: none;
  width: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
  border-radius: 8px;

  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  border: 1px solid rgb(235, 78, 98);
  color: rgb(235, 78, 98);
  cursor: pointer;
  height: auto;
}

.user_icon .fa-user-circle {
  font-size: xx-large;
}

// user login image

// .user_icon {
//   border: 1px solid black;
//   border-radius: 50%;
//   height: 50px;
//   width: 50px;
// }
.info_conatiner {
  background-color: rgb(255, 241, 204);
  width: 100%;
  padding: 8px 16px;
  height: 60px;
}

.info_text p,
span {
  color: rgb(51, 51, 51);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.main_sidebar_data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 91%;
}

.main_sidebar_data a {
  text-decoration: none;
}

.links_sidebar {
  color: rgb(51, 51, 51);
  min-height: 60px;
  padding: 0px 16px;
  text-decoration: none;
  background: rgb(255, 255, 255);
  border-top: 1px solid rgb(242, 242, 242);
  border-bottom: 1px solid rgb(242, 242, 242);
}

.button_section {
  width: 100%;
  z-index: 99;
  padding: 10px;
  flex: 0 0 auto;
  box-shadow: rgba(0, 0, 0, 0.2) 0px -1px 13px 0px;
}

.button_sign_out {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.2px;
  border: 1px solid rgb(235, 78, 98);
  color: rgb(235, 78, 98);
  cursor: pointer;
  height: 48px;
  background: none;
}

.fa-search {
  color: rgb(170, 170, 170);
}

.input-group .input-group-text {
  border-radius: 5px 0px 0px 5px !important;
}

::placeholder {
  color: rgb(170, 170, 170);
  font-size: small;
}

// .modal {
//   width: 100%;
//   top: 60px;
//   border-radius: 8px;
//   overflow: visible;
//   max-width: 960px;
//   min-width: 600px;
// }
.detect_my_location_text {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: medium;
}

.dialog {
  max-width: 800px;
  min-width: 600px;
  margin: 40px auto;
}

.view_city {
  color: rgb(220, 53, 75);
  cursor: pointer;
  padding: 24px 0px 12px;
  text-decoration: none;
  font-size: medium;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.city_section {
  max-height: 60px;
  max-width: fit-content;
}

.other_cities_list {
  height: 160px;
  overflow-y: auto;
}

.list_cities {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}

.list_cities p {
  justify-content: space-between;
  align-items: center;
  border-bottom: none;
  margin: 0px 10px;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.2px;
  cursor: pointer;
  color: rgb(153, 153, 153);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px;
}

.list_cities p:hover {
  color: rgb(59, 59, 59);
}

.active {
  background-color: rgb(0, 102, 192);
}