<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
        <div class="col-md-3 mb-2 mb-md-0 d-flex">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="assets/images/logo_bookMyShow.webp" alt="" class="logo">
            </a>
            <div class="d-flex align-items-center">
                <app-searcbox></app-searcbox>

            </div>
        </div>

        <div class="col-md-4 text-end d-flex justify-content-center">
            <span class="dropdown_city_text"> City <i class="fa fa-angle-down ms-2" aria-hidden="true"></i></span>
            <button class="badge  ms-3">Sign in</button>
            <span class="ms-3">
                <i class="fa fa-bars" aria-hidden="true" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample">
                </i>
            </span>
            <!-- <p class="d-flex gap-1 align-items-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample"
                    aria-controls="offcanvasExample">
                <i class="fa fa-user-circle fa-circle_header" aria-hidden="true" ></i>
                <span>Hi, Guest</span>
            </p> -->
        </div>
    </header>
</div>
<div class="container-fluid main_conatiner_sub_header">
    <div class="container">
        <div class="sub_header">
            <div class="sub_header_left">
                <div class="sc-1or3vea-19 links">
                    <a href="" class="sc-1or3vea-20 fsiaZi">Movies</a>
                    <a href="" class="sc-1or3vea-20 fsiaZi">Stream</a>
                    <a href="" class="sc-1or3vea-20 fsiaZi">Events</a>
                    <a href="" class="sc-1or3vea-20 fsiaZi">Plays</a>
                    <a href="" class="sc-1or3vea-20 fsiaZi">Sports</a>
                    <a href="" class="sc-1or3vea-20 fsiaZi">Activities</a>
                </div>
            </div>
            <div class="sub_header_right">
                <div class="sc-1or3vea-19 links">
                    <a href="" class="sc-1or3vea-21 hxCjFQ">ListYourShow</a>
                    <a href="" class="sc-1or3vea-21 hxCjFQ">Corporates</a>
                    <a href="" class="sc-1or3vea-21 hxCjFQ">Offers</a>
                    <a href="" class="sc-1or3vea-21 hxCjFQ">GiftCards</a>
                </div>
            </div>


        </div>
    </div>

</div>





<div class="offcanvas offcanvas-end p-0" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header px-2">
        <div class="full_with d-flex justify-content-between align-items-center">
            <div class="hey_text">
                <h5 class="offcanvas-title fw-bold" id="offcanvasExampleLabel">Hey!</h5>
                <span class="edit_profile">Edit-Profile <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
                </span>
            </div>
            <div class="user_icon">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="offcanvas-body p-0">
        <div class="unlock_special_offer_box border-top">
            <div height="40px" width="40px" class="unlock_special_offer_img" style="background: none;">
                <img alt="rewards" width="40px" height="40px" class="sc-eykeme-1 iVbwwW"
                    src="https://assets-in.bmscdn.com/webin/movies/superstar/rewards_login.png" style="opacity: 1;">
            </div>
            <p class="unlock_special_offer_text m-0">Unlock special offers &amp; great benefits</p>
            <button class="unlock_special_offer_button">Login / Register</button>
        </div>
        <div class="main_sidebar_data ">

            <div class="d-flex flex-column grow-2 py-2">
                <a href="" class="d-flex justify-content-between align-items-center info_conatiner">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fa fa-info-circle" aria-hidden="true"></i>

                        <div class="info_text">
                            <p class="m-0">Get tickets on Whatsapp/SMS!</p>
                            <span class="">Add your Mobile Number</span>
                        </div>
                    </div>
                    <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
                </a>
                <a href="" class="d-flex justify-content-between align-items-center links_sidebar">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>

                        <div class="info_text">
                            <p class="m-0">Notifications</p>
                        </div>
                    </div>
                    <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
                </a>
                <a href="" class="d-flex justify-content-between align-items-center links_sidebar">
                    <div class="d-flex gap-2 align-items-center">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <div class="info_text">
                            <p class="m-0">Your Orders</p>
                            <span>View all your bookings & purchases</span>
                        </div>
                    </div>
                    <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
                </a>
            </div>


            <div class="button_section">
                <div class="sc-zgl7vj-7 ifHHkE">
                    <button class="button_sign_out w-100">Sign out</button>
                </div>
            </div>
        </div>

    </div>
</div>