<div class="main_container_ccordion d-block ">
    <div class="d-flex justify-content-between border ccordion_box border-bottom-0 shadow-sm"
        (click)="toggleAccordion()">
        <div class="d-flex gap-2 align-items-center">
            <i class="fa fa-angle-down" aria-hidden="true" [ngClass]="{'tranform_icon': filterShowButtons}"></i>
            <p class="m-0 filter_text" [ngClass]="{'text_changColor': filterShowButtons}">Languages</p>
        </div>
        <div>
            <span>Clear</span>
        </div>
    </div>
    @if(filterShowButtons){
    <div [ngClass]="{'toggleFilter':filterShowButtons}">
        <div class="border border-top-0 filter_button_box bg-white ">
            <button type="button">Primary</button>
            <button type="button">Secondary</button>
            <button type="button">Success</button>
            <button type="button">Danger</button>
            <button type="button">Warning</button>
            <button type="button">Info</button>
            <button type="button">Light</button>
            <button type="button">Dark</button>
        </div>
    </div>
    }
</div>