<div class="d-flex flex-column gap-2">
    @for(item of filters;track $index){
    <div class="main_container_accordion d-block ">


        <div class="d-flex justify-content-between border accordion_box border-bottom-0 shadow-sm border"
            (click)="toggleAccordion($index)">
            <div class="d-flex gap-2 align-items-center">
                <i class="fa fa-angle-down" aria-hidden="true" [ngClass]="{'tranform_icon': filterShowButtons}"></i>

                <p class="m-0 filter_text" [ngClass]="{'text_changColor': filterShowButtons}">{{item.type}}</p>
            </div>
            <div>
                <span>Clear</span>
            </div>
        </div>

        @if(openedIndex.includes($index)) {
        <div [ngClass]="{'toggleFilter':filterShowButtons}">
            <div class="border border-top-0 filter_button_box bg-white ">
                @for (i of item.data; track $index) {
                <span (click)="applyFilter(i)">{{i}}</span>
                }
            </div>
        </div>
        }
    </div>
    }
</div>