.accordion_box {
  padding: 15px 16px 15px 11px;
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
}

.accordion_box span {
  font-size: 13px;
  color: rgb(102, 102, 102);
}

.accordion_box span:hover {
  color: rgb(220, 53, 75);
}

.filter_text {
  padding: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
}

.filter_button_box {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  background-color: white;
}

.tranform_icon {
  transform: rotate(180deg);
}

.text_changColor {
  color: rgb(220, 53, 88);
}

.filter_button_box span {
  background-color: white;
  border: 1px solid rgb(229, 229, 229);
  margin: 2px;
  color: rgb(220, 53, 88);
  padding: 5px;
  cursor: pointer;
}

.selectedText {
  background-color: rgb(235, 78, 98) !important;
  color: white !important;
  border-color: rgb(235, 78, 98) !important;
}
