<carousel>
    <slide>
        <img src="assets/images/carousel-img-1.png" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide>
    <slide>
        <img src="assets/images/carousel-img-2.png" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide>
    <slide>
        <img src="assets/images/carousel-img-3.png" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide>
</carousel>
<div class="conatiner-fluid mt-5">
    <div class="container py-3 ">
        <div class="top_recommanded_movie_text d-flex justify-content-between align-items-center">
            <h4 class="recommended_movie_headding mb-3">Recommended Movies</h4>
            <a class="seeall_txt">See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
            </a>
        </div>
        <div class="mian_div">
            <div class="cards_container_box-1 row row-cols-1 row-cols-sm-2 row-cols-md-6 g-3">
                @for (item of dummyMoviesdata; track $index) {
                <div class="col">
                    <div class="card shadow-sm">
                        <img [src]="item.Poster" [alt]="item.Poster" class="img-fluid">
                        <div class="card-body rounded-bottom bg-dark">
                            <div class="d-flex gap-2">
                                <span>
                                    <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
                                </span>
                                <span class="text-white">
                                    1.5M likes
                                </span>
                            </div>
                        </div>

                    </div>
                    <div class="bottom_text_movie_card">
                        <h6 class="card-text m-0">{{item.Title | truncate:15}} </h6>
                        <span class="m-0">{{item.Genre}}</span>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>