<div class="container-fluid g-0 bg-white">

    <div class="row g-0">
        <!-- Poster Movies -->
        <div class="main_container_box d-flex justify-content-center align-itmes-center bg-dark py-4 text-white">
            <div class="col-8 d-flex bg-custom poster_movies">
                <div class="col-10 d-flex gap-3 align-items-start">

                    <div class="col-3 h-100 poster-img-container">
                        <img src="assets/images/war-2-et00356501-1755672553.jpg" class="img-fluid rounded-3 h-100"
                            alt="">
                        <span class="cinema-badge">In cinemas</span>
                    </div>

                    <div class="col-9 h-100 text-white p-4 py-5">
                        <h1 class="movie-title">War 2</h1>
                        <div class="rating-box">

                            <div class="rating-content">
                                <i class="fa fa-star rating-star" aria-hidden="true"></i>
                                <span class="rating-score">7.9/10</span>
                                <span class="rating-votes">(138.7K Votes)</span>
                                <i class="fa fa-chevron-right rating-arrow" aria-hidden="true"></i>
                                <button class="rate-btn">
                                    <span>Rate Now</span>
                                </button>
                            </div>

                        </div>
                        <div class="movie-formats">

                            <div class="format-tags">
                                <a>2D,</a>
                                <a>ICE,</a><a>IMAX 2D,</a><a>4DX,</a><a>DOLBY,</a><a>CINEMA 2D</a>
                            </div>
                            <div class="language-tags">
                                <a>Hindi,</a>
                                <a>Telugu,</a><a>Tamil</a>
                            </div>
                        </div>
                        <div class="movie-meta">
                            2h 53m
                            <span class="dot-separator"><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a>Action,</a>
                            <a>Thriller</a>
                            <span class="dot-separator"><i class="fa fa-circle" aria-hidden="true"></i></span>
                            <a>UA16+</a>
                            <a>14 Aug, 2025</a>
                        </div>
                        <button (click)="open(bookTicket)" class="book_ticket_button mt-3">Book tickets</button>
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-start py-4 align-items-start">

                    <div class="share_btn">
                        <i class="fa fa-share" aria-hidden="true"></i>
                        <span>Share</span>
                    </div>

                </div>
            </div>
        </div>

        <!-- description About Movie -->
        <div class="description_movie_section py-4 d-flex justify-content-center">
            <div class="col-8 d-flex flex-column gap-2">
                <h2>About the movie</h2>
                <div class="about_movie_section">
                    <div class="col-9 about-text">
                        <p class="lh-base">Years ago Agent Kabir went rogue. Became India`s greatest villain ever. But
                            this time, as he descends further into the deepest shadows India sends it`s deadliest, most
                            lethal agent after him.</p>

                        <p>A Special Units Officer who is more than Kabir`s equal! Absolutely Nuclear! Agent
                            Vikram.
                        </p>

                        <p>
                            A relentless Terminator driven by his own demons, determined to put a bullet into Kabir`s
                            skull. A brutal Cat versus Rottweiler game begins as the two face off - The entire world is
                            their brutal bloody battleground.
                        </p>
                        <p>The choices ahead of them are impossible. The price to be paid is ultimate. This is a War
                            with spectacular action and heart-wrenching emotion.</p>

                    </div>
                </div>

            </div>
        </div>

        <div class="cast_and_crew-section py-4 d-flex justify-content-center flex-column align-items-center">
            <div class="col-8">
                <hr class="w-100 py-3">
            </div>
            <div class="col-8 d-flex flex-column gap-2">
                <h2 class="section-title">Cast</h2>
                <div class="d-flex justify-content-start align-items-center gap-4">

                    <div class="cast-card">
                        <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/hrithik-roshan-833-1705302956.jpg"
                            class="cast-img" alt="">
                        <p class="cast-name">Hritik Roshan</p>
                        <p class="cast-role">as Kabir</p>
                    </div>

                    <div class="cast-card">
                        <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/jr-ntr-15411-19-09-2017-01-52-16.jpg"
                            class="cast-img" alt="">
                        <p class="cast-name">Jr. NTR</p>
                        <p class="cast-role">as Agent Vikram</p>
                    </div>

                    <div class="cast-card">
                        <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/kiara-advani-1043272-1655467015.jpg"
                            class="cast-img" alt="">
                        <p class="cast-name">Kiara Advani</p>
                        <p class="cast-role">Actor</p>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <hr class="w-100 py-3">
            </div>

            <div class="col-8 d-flex flex-column gap-2">
                <h2 class="section-title">Crew</h2>
                <div class="d-flex justify-content-start align-items-center gap-4">

                    <div class="cast-card">
                        <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/ayan-mukherjee-12848-24-03-2017-15-52-53.jpg"
                            class="cast-img" alt="">
                        <p class="cast-name">Ayan Mukerji</p>
                        <p class="cast-role">Director</p>
                    </div>

                    <div class="cast-card">
                        <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/kiara-advani-1043272-1655467015.jpg"
                            class="cast-img" alt="">
                        <p class="cast-name">Kiara Advani</p>
                        <p class="cast-role">Actor</p>
                    </div>

                    <div class="cast-card">
                        <img src="https://assets-in.bmscdn.com/iedb/artist/images/website/poster/large/hrithik-roshan-833-1705302956.jpg"
                            class="cast-img" alt="">
                        <p class="cast-name">Hritik Roshan</p>
                        <p class="cast-role">as Kabir</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="top_bar d-flex justify-content-center align-items-center bg-white border shadow-sm"
    [class.show]="showHeader">
    <div class="col-8 d-flex justify-content-between py-3">
        <h3>War</h3>
        <button class="book_ticket_button" (click)="open(bookTicket)">Book tickets</button>
    </div>
</div>

<ng-template #bookTicket let-modal>
    <div class="p-2">
        <h5>Content Warning</h5>
        <p class="content-warning">This movie is rated “A” and is only for viewers above 18. Please carry a valid
            ID/Age Proof to the theatre. If you are denied entry due to age or ID issues, you will not get a refund.</p>
    </div>
    <div class="p-3 d-grid">
        <button class="popup_continue">Continue</button>
    </div>
</ng-template>