<div class="container-fluid g-0 bg-white">
    <div class="row g-0">
        <!-- Poster Movies -->
        <div class="main_container_box d-flex justify-content-center align-itmes-center bg-dark py-4 text-white">
            <div class="col-8 d-flex poster_movies ">
                <img [src]="commonService.getImageFromBase64(movieDetails.imageurl)"alt="" class="bg-custom" 
                >
                <div class="col-10 d-flex gap-3 align-items-start z-1">
                    <div class="col-3 h-100 poster-img-container"> 
                        <img [src]="commonService.getImageFromBase64(movieDetails.imageurl)"
                            class="img-fluid rounded-3 h-100" alt="">
                        @if((movieDetails?.eventType?.toLowerCase() ) == 'movie'){
                        <span class="cinema-badge">In cinemas</span>
                        }
                    </div>
                    <div class="col-9 h-100 text-white p-4 py-5">
                        <h1 class="movie-title">{{movieDetails.name}}</h1>
                        <div class="rating-box">
                            <div class="rating-content">
                                <i class="fa fa-star rating-star" aria-hidden="true"></i>
                                <span class="rating-score">{{movieDetails.imdbRating}}/10</span>
                                <span class="rating-votes">({{movieDetails.votes}} Votes)</span>
                                <i class="fa fa-chevron-right rating-arrow" aria-hidden="true"></i>
                                <button class="rate-btn">
                                    <span>Rate Now</span>
                                </button>
                            </div>
                        </div>
                        <div class="movie-formats ">
                            <div class="format-tags " >
                                @for(format of movieDetails.format;track $index){
                                <span>{{format}}</span>
                                }
                            </div>
                            <div class="language-tags">
                                @for(lang of movieDetails.languages;track $index){
                                <span>{{lang}} </span>
                                }
                            </div>
                        </div>
                        <div class="movie-meta">
                            {{movieDetails.runTime}}
                            <span class="dot-separator"><i class="fa fa-circle" aria-hidden="true"></i></span>
                            @for(genre of movieDetails.genres;track $index){
                            <span>{{genre}}</span>
                            }
                            <span class="dot-separator"><i class="fa fa-circle" aria-hidden="true"></i></span>
                            @if(movieDetails.ageLimit > 18) {
                            <span>A18+</span>
                            }
                            @else{
                            <span>UA{{movieDetails.ageLimit}}+</span>
                            }
                            <span>{{movieDetails.releasingOn}}</span>
                        </div>
                        <button (click)="open(movieDetails.ageLimit>18?bookTicket:langFormatModal)"
                            class="book_ticket_button mt-3">Book tickets</button>
                    </div>
                </div>
                <div class="col-2 d-flex justify-content-start py-4 align-items-start">
                    <div class="share_btn">
                        <i class="fa fa-share" aria-hidden="true"></i>
                        <span>Share</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- description About Movie -->
        <div class="description_movie_section py-4 d-flex justify-content-center">
            <div class="col-8 d-flex flex-column gap-2">
                <h2>About the movie</h2>
                <div class="about_movie_section">
                    <div class="col-9 about-text">
                        <p class="lh-base">{{movieDetails.description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="cast_and_crew-section py-4 d-flex justify-content-center flex-column align-items-center">
            <div class="col-8">
                <hr class="w-100 py-3">
            </div>
            <div class="col-8 d-flex flex-column gap-2">
                <h2 class="section-title">Cast</h2>
                <div class="d-flex justify-content-start align-items-center gap-4">
                    @for(cast of movieDetails.cast;track $index){
                    <div class="cast-card">
                        <img [src]="commonService.getImageFromBase64(cast.castImg)" class="cast-img" alt="">
                        <p class="cast-name">{{cast.actorName}}</p>
                    </div>
                    }
                </div>
            </div>
            <div class="col-8">
                <hr class="w-100 py-3">
            </div>
            <div class="col-8 d-flex flex-column gap-2">
                <h2 class="section-title">Crew</h2>
                <div class="d-flex justify-content-start align-items-center gap-4">
                    @for(crew of movieDetails.crew;track $index){
                    <div class="cast-card">
                        <img [src]="commonService.getImageFromBase64(crew.crewImg)" class="cast-img" alt="">
                        <p class="cast-name">{{crew.memberName}}</p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top_bar d-flex justify-content-center align-items-center bg-white border shadow-sm"
    [class.show]="showHeader">
    <div class="col-8 d-flex justify-content-between py-3">
        <h3>{{movieDetails.name}}</h3>
        <button class="book_ticket_button" (click)="open(movieDetails.ageLimit>18?bookTicket:langFormatModal)">Book
            tickets</button>
    </div>
</div>
<ng-template #bookTicket let-modal>
    <div class="p-2">
        <h5>Content Warning</h5>
        <p class="content-warning">This movie is rated “A” and is only for viewers above 18. Please carry a valid
            ID/Age Proof to the theatre. If you are denied entry due to age or ID issues, you will not get a refund.</p>
    </div>
    <div class="p-3 d-grid">
        <button class="popup_continue" (click)="close();open(langFormatModal)">Continue</button>
    </div>
</ng-template>
<ng-template #langFormatModal let-modal>
    <div class="p-3 border">
        <!-- Header -->
        <div class="d-flex  justify-content-between align-items-center mb-2">
            <div>
                <p class="m-0 text-muted small">{{movieDetails.name}}</p>
                <h5 class="m-0 fw-semibold">Select language and format</h5>
            </div>
            <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
        </div>
        <!-- Language -->
        <div class=" d-flex flex-column gap-3">
            @for(lang of movieDetails.languages;track $index){
            <div>
                <div class="border rounded langBackground  p-2 mb-3">
                    <span class="fw-thin text-muted">{{lang}}</span>
                </div>
                <!-- Formats -->
                <div class="d-flex gap-2 flex-wrap">
                    @for(format of movieDetails.format;track $index){
                    <button class="btn border rounded-pill px-3 py-1 text-danger fw-thin "
                        (click)="navigateToBuyTicket({lang,format})">{{format}}</button>
                    }
                </div>
            </div>
            }
        </div>
    </div>
</ng-template>