<div class="conatiner-fluid">
    <div class="row g-0">
        <carousel id="carouselExample" class="carousel slide" data-bs-ride="carousel" [interval]="2000"
            indicators="false" [isAnimated]="true">
            <div class="carousel-inner">
                <slide class="carousel-item active">
                    <div class="carousel-image-container d-flex gap-3">
                        <div class="col-6 right carousel3">
                            <div class="px-4 py-4  d-flex justify-content-between mb-4 text-white rounded"
                                style="background-color: rgb(56, 84, 52);">
                                <div class="col-6 px-0">
                                    <h1 class="fs-2 fst-italic">Empower the artist within you</h1>
                                    <p class="lead my-3">List your own performances, gigs and more with BookMyShow.</p>

                                    <div class="lead mb-0">
                                        <button class="btn btn-primary">Contact us today</button>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end img_container">
                                    <img src="assets/images/list-your-show/des-multiple-image.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 left carousel1">
                            <div class="px-4 py-4  d-flex justify-content-between mb-4 text-white rounded "
                                style="background-color: rgb(158, 109, 76);">
                                <div class="col-6 px-0">
                                    <h1 class="fs-2 fst-italic">Take advantage of our M-ticket feature</h1>
                                    <p class="lead my-3">Lets your audience skip the box office queue and head straight
                                        to the gate.</p>
                                    <div class="lead mb-0">
                                        <button class="btn btn-primary">Contact us today</button>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end img_container">
                                    <img src="assets/images/list-your-show/des-mancoustomer.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6 center carousel2">
                            <div class="px-4 py-4  d-flex justify-content-between mb-4 text-white rounded bg-dark">
                                <div class="col-6 px-0">
                                    <h1 class="fs-2 fst-italic">Introducing an event management tool</h1>
                                    <p class="lead my-3">Experience the ease of event creation and publishing.</p>
                                    <div class="lead mb-0">
                                        <button class="btn btn-primary">Contact us today</button>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end img_container">
                                    <img src="assets/images/list-your-show/des-laptop-phone.png" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </slide>
                <slide class="carousel-item">
                    <div class="carousel-image-container d-flex gap-3">
                        <div class="col-6">
                            <div class="px-4 py-4  d-flex justify-content-between mb-4 text-white rounded bg-dark">
                                <div class="col-6 px-0">
                                    <h1 class="fs-2 fst-italic">Conduct workshops and much more</h1>
                                    <p class="lead my-3">Share your skills with people around the world - from home!</p>
                                    <div class="lead mb-0">
                                        <button class="btn btn-primary">Contact us today</button>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end img_container">
                                    <img src="assets/images/list-your-show/des-women.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="px-4 py-4  d-flex justify-content-between mb-4 text-white rounded "
                                style="background-color: rgb(69, 68, 63);">
                                <div class="col-6 px-0">
                                    <h1 class="fs-2 fst-italic">Ticket scanning made easy</h1>
                                    <p class="lead my-3">Experience the ease of managing entry at an event..</p>
                                    <div class="lead mb-0">
                                        <button class="btn btn-primary">Contact us today</button>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end img_container">
                                    <img src="assets/images/list-your-show/des-sellphone-fiv.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="px-4 py-4  d-flex justify-content-between mb-4 text-white rounded"
                                style="background-color: rgb(56, 84, 52);">
                                <div class="col-6 px-0">
                                    <h1 class="fs-2 fst-italic">Empower the artist within you</h1>
                                    <p class="lead my-3">List your own performances, gigs and more with BookMyShow.</p>
                                    <div class="lead mb-0">
                                        <button class="btn btn-primary">Contact us today</button>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end img_container">
                                    <img src="assets/images/list-your-show/des-multiple-image.jpeg" alt="">
                                </div>
                            </div>
                        </div>

                    </div>
                </slide>
                <slide class="carousel-item active">
                    <div class="carousel-image-container d-flex gap-3">
                        <div class="col-6">
                            <div class="px-4 py-4  d-flex justify-content-between mb-4 text-white rounded "
                                style="background-color: rgb(158, 109, 76);">
                                <div class="col-6 px-0">
                                    <h1 class="fs-2 fst-italic">Take advantage of our M-ticket feature</h1>
                                    <p class="lead my-3">Lets your audience skip the box office queue and head straight
                                        to the gate.</p>
                                    <div class="lead mb-0">
                                        <button class="btn btn-primary">Contact us today</button>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end img_container">
                                    <img src="assets/images/list-your-show/des-mancoustomer.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="px-4 py-4  d-flex justify-content-between mb-4 text-white rounded bg-dark">
                                <div class="col-6 px-0">
                                    <h1 class="fs-2 fst-italic">Introducing an event management tool</h1>
                                    <p class="lead my-3">Experience the ease of event creation and publishing.</p>
                                    <div class="lead mb-0">
                                        <button class="btn btn-primary">Contact us today</button>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end img_container">
                                    <img src="assets/images/list-your-show/des-laptop-phone.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="px-4 py-4  d-flex justify-content-between mb-4 text-white rounded "
                                style="background-color:rgb(56, 84, 52) ;">
                                <div class="col-6 px-0">
                                    <h1 class="fs-2 fst-italic">Empower the artist within you</h1>
                                    <p class="lead my-3">List your own performances, gigs and more with BookMyShow.</p>
                                    <div class="lead mb-0">
                                        <button class="btn btn-primary">Contact us today</button>
                                    </div>
                                </div>
                                <div class="col-4 d-flex justify-content-end img_container">
                                    <img src="assets/images/list-your-show/des-multiple-image.jpeg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </slide>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </carousel>
    </div>
</div>


<div class="container-fluid ">
    <div class="row g-0">
        <div class="col-12 d-flex justify-content-center">
            <div class=" col-6 main_headding_events_cards">
                <h1 class="fs-2 fw-bold text-center">What can you host?</h1>
                <p class="text-center ">As the purveyor of entertainment, BookMyShow enables your event with end to
                    end
                    solutions from the
                    time you register to the completion of the event. Let’s look at what you can host.</p>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-around">
            <div class="col-6 d-flex flex-wrap justify-content-around align-itmes-center gap-3">
                <div class="col-4 card_events ">
                    <img src="assets/images/list-your-show/music.png" alt="">
                    <p>Performances</p>
                </div>
                <div class="col-4 card_events ">
                    <img src="assets/images/list-your-show/experiencess.png" alt="">
                    <p>Experiences</p>
                </div>
                <div class="col-4 card_events ">
                    <img src="assets/images/list-your-show/expositionss.png" alt="">
                    <p>Expositions</p>
                </div>
                <div class="col-4 card_events ">
                    <img src="assets/images/list-your-show/partiess.png" alt="">
                    <p>Parties</p>
                </div>
                <div class="col-4 card_events ">
                    <img src="assets/images/list-your-show/sport.png" alt="">
                    <p>Sports</p>
                </div>
                <div class="col-4 card_events ">
                    <img src="assets/images/list-your-show/conferencess.png" alt="">
                    <p>Conferences</p>
                </div>
            </div>
        </div>
        <div class="button_section d-flex justify-content-center ">
            <button class="btn list-your-btn col-2">List your Show</button>
        </div>
    </div>
</div>

<div class="container-fluid ">
    <div class="row g-0">
        <div class="col-12 d-flex justify-content-center">
            <div class=" col-6 main_headding_events_cards">
                <h1 class="fs-2 fw-bold text-center">What are the services we offer?</h1>
                <p class="text-center ">After successful collaborations with the best event organisers over the past
                    decade and a half, we’re well equipped to bring your vision to life.</p>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-around">
            <div class="col-6 d-flex flex-wrap justify-content-around align-itmes-center gap-3">
                <div class="col-4 card_service " (click)="openCityModal(serviceModal)">
                    <img src="assets/images/list-your-show/online-saless.png" alt="">
                    <p>Online Sales & Marketing</p>
                </div>
                <div class="col-4 card_service " (click)="openCityModal(serviceModal)">
                    <img src="assets/images/list-your-show/pricings.png" alt="">
                    <p>Pricing</p>
                </div>
                <div class="col-4 card_service " (click)="openCityModal(serviceModal)">
                    <img src="assets/images/list-your-show/food.png" alt="">
                    <p>Food & beverages, stalls and the works!</p>
                </div>
                <div class="col-4 card_service " (click)="openCityModal(serviceModal)">
                    <img src="assets/images/list-your-show/on-ground-support.png" alt="">
                    <p>On ground support & gate entry management</p>
                </div>
                <div class="col-4 card_service " (click)="openCityModal(serviceModal)">
                    <img src="assets/images/list-your-show/report.png" alt="">
                    <p>Reports & business insights</p>
                </div>
                <div class="col-4 card_service " (click)="openCityModal(serviceModal)">
                    <img src="assets/images/list-your-show/rfids.png" alt="">
                    <p>POS, RFID, Turnstiles & more...</p>
                </div>
            </div>
        </div>
        <div class="button_section  d-flex flex-column justify-content-center align-itmes-center">
            <p class="text-center">
                Apart form these must haves for any event, we also support a host of other services like SEO for your
                event, custom pricing for your tickets and this and also this.</p>
            <button class="btn list-your-btn col-2 m-auto">List your Show</button>
        </div>

    </div>
</div>




<ng-template #serviceModal let-modal>

    <div class="modal-body p-0">


    </div>


</ng-template>