<form [formGroup]="eventShowForm" class="container mt-4">
    <!-- General Info -->
    <div class="card mb-4 shadow-sm ">
        <div class="card-body ">
            <h4 class="card-title mb-3 text-center">Event Creation Info</h4>
            <!-- Name -->
            <div class="row">
                <div class="mb-3 w-50">
                    <label class="form-label">Name
                        <small class="text-danger reuired">*</small>
                    </label>
                    <input type="text" class="form-control" formControlName="name" placeholder="Enter name"
                        [ngClass]="{'is-invalid':eventShowForm.get('name')?.touched && eventShowForm.get('name')?.invalid }" />
                    @if(eventShowForm.get('name')?.touched &&
                    eventShowForm.get('name')?.hasError('required')){
                    <div class="invalid-feedback">Content name is required.</div>
                    }
                    @if(eventShowForm.get('name')?.value &&
                    eventShowForm.get('name')?.hasError('minlength')){
                    <div class="invalid-feedback">Min.Length is 4 Char</div>
                    }
                    @if(eventShowForm.get('name')?.value &&
                    eventShowForm.get('name')?.hasError('maxlength')){
                    <div class="invalid-feedback">Max.Length is 50 Char</div>
                    }
                    @if(eventShowForm.get('name')?.value &&
                    eventShowForm.get('name')?.hasError('invalidSpace')){
                    <div class="invalid-feedback">Name cannot start or end with spaces</div>
                    } @if(eventShowForm.get('name')?.value &&
                    eventShowForm.get('name')?.hasError('invalidCharacter')){
                    <div class="invalid-feedback">Only alphanumeric characters and hyphens are allowed </div>
                    }
                    @if(eventShowForm.get('name')?.value &&
                    eventShowForm.get('name')?.hasError('invalidHyphen')){
                    <div class="invalid-feedback">Cannot start or end with a hyphen</div>
                    }
                </div>

                <!-- Poster -->
                <div class="mb-3 w-50">
                    <label class="form-label">Poster
                        <small class="text-danger reuired">*</small>
                    </label>
                    <input type="file" class="form-control" (change)="handlePosterImgUpload($event,'imageurl')"
                        [ngClass]="{'is-invalid': isInvalid('imageurl')}" />
                    @if(isInvalid('imageurl')){
                    <div class="invalid-feedback">
                        Poster is required.
                    </div>
                    }
                </div>
            </div>
            <!-- Description -->
            <div class="mb-3">
                <label class="form-label">Description
                    <small class="text-danger reuired">*</small>
                </label>
                <textarea class="form-control h-25" rows="3" formControlName="description"
                    placeholder="Enter description"
                    [ngClass]="{'is-invalid':eventShowForm.get('description')?.touched && eventShowForm.get('description')?.invalid }"></textarea>
                @if(eventShowForm.get('description')?.touched &&
                eventShowForm.get('description')?.hasError('required')){
                <div class="invalid-feedback">Description is required.</div>
                }
                @if(eventShowForm.get('description')?.value &&
                eventShowForm.get('description')?.hasError('invalidSpace')){
                <div class="invalid-feedback">Description cannot start or end with spaces</div>
                } @if(eventShowForm.get('description')?.value &&
                eventShowForm.get('description')?.hasError('invalidCharacter')){
                <div class="invalid-feedback">Only alphanumeric characters and hyphens are allowed </div>
                }
                @if(eventShowForm.get('description')?.value &&
                eventShowForm.get('description')?.hasError('invalidHyphen')){
                <div class="invalid-feedback">Cannot start or end with a hyphen or &#64;</div>
                }
                @if(eventShowForm.get('description')?.value &&
                eventShowForm.get('description')?.hasError('minlength')){
                <div class="invalid-feedback">Min.Length is 30 Char</div>
                }
                @if(eventShowForm.get('description')?.value &&
                eventShowForm.get('description')?.hasError('maxlength')){
                <div class="invalid-feedback">Max.Length is 250 Char</div>
                }
            </div>

            <div class="row">
                <!--duration-->
                <div class="w-50">
                    <label class="form-label">Duration (min)
                        <small class="text-danger reuired">*</small>
                    </label>
                    <input type="number" class="form-control" formControlName="runTime" min="20" max="360"
                        placeholder="Enter duration" (change)="durationOrReleasingOnChange()" />
                    @if(eventShowForm.get('runTime')?.touched && eventShowForm.get('runTime')?.hasError('required')){
                    <div class="text-danger">
                        Duration is required.
                    </div>
                    }
                    @if(eventShowForm.get('runTime')?.touched && eventShowForm.get('runTime')?.hasError('min')){
                    <div class="text-danger">
                        Duration must be greater than 20 mins.
                    </div>
                    }
                    @if(eventShowForm.get('runTime')?.touched && eventShowForm.get('runTime')?.hasError('max')){
                    <div class="text-danger">
                        Duration must be less than 360 mins.
                    </div>
                    }
                </div>
                <!-- Age Limit -->
                <div class="mb-3 w-50">
                    <label class="form-label">Age Limit
                        <small class="text-danger reuired">*</small>
                    </label>
                    <input type="number" class="form-control" formControlName="ageLimit" min="3" max="90"
                        [ngClass]="{'is-invalid': isInvalid('ageLimit')}" />
                    @if(isInvalid('ageLimit')){
                    <div class="invalid-feedback">
                        Age Limit is required (Min.3-Max.90).
                    </div>
                    }
                </div>
            </div>
        </div>
        <!-- Event Type -->
        <div class="row px-3 my-3 ">
            <div ngbDropdown class="w-50 mb-3">
                <label class="form-label">Event Type
                    <small class="text-danger reuired">*</small>
                </label>
                <button class="btn btn-white border w-100 text-start d-flex align-items-center justify-content-between"
                    id="nameDropdown" ngbDropdownToggle>
                    {{ eventShowForm.get('eventType')?.value || 'Select Name' }}
                </button>
                <div ngbDropdownMenu aria-labelledby="nameDropdown" class="w-100 ">
                    @for(eventType of ['Movie','Sports','Event','Plays','Activities'];track $index){
                    <button ngbDropdownItem (click)="setEventType(eventType)">
                        {{ eventType }}
                    </button>
                    }
                </div>
                @if(eventShowForm.get('eventType')?.touched && eventShowForm.get('eventType')?.invalid){
                <div class="text-danger">
                    Event Type is required.
                </div>
                }
            </div>

            <!--city-->
            <div ngbDropdown [autoClose]="'outside'" class=" w-50 mb-3 ">
                <label class="form-label">City
                    <small class="text-danger reuired">*</small>
                </label>
                <button class="btn btn-white border w-100 text-start d-flex align-items-center justify-content-between"
                    [ngClass]="{'is-invalid':eventShowForm.get('city')?.touched && eventShowForm.get('city')?.invalid }"
                    [disabled]="!citiesArray" ngbDropdownToggle>
                    {{ city.controls.length > 0 ? eventShowForm.get('city')?.value.join(', ') : 'Select Cities' }}
                </button>
                <div class="invalid-feedback">City is required.</div>

                <div ngbDropdownMenu [hidden]="!citiesArray" aria-labelledby="cityDropdown" class="w-100 p-2"
                    style="max-height: 200px; overflow-y: auto;">
                    @for(city of citiesArray; track $index) {
                    <div class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" [value]="city.cityName"
                                [checked]="eventShowForm.get('city')?.value.includes(city.cityName)"
                                (change)="toggleCity($event)">
                            <label class="form-check-label">
                                {{ city.cityName }}
                            </label>
                        </div>
                    </div>
                    }
                </div>


            </div>
        </div>

        <!--venue name -->
        <div class="row px-3 my-3 ">
            <div ngbDropdown [autoClose]="'outside'" class="w-50  ">
                <label class="form-label">Venue Name:
                    <small class="text-danger reuired">*</small>
                </label>
                <button class="btn btn-white border w-100 text-start d-flex align-items-center justify-content-between" [disabled]="venuesNameList.length <= 0"
                    [ngClass]="{'is-invalid':eventShowForm.get('venueName')?.touched && eventShowForm.get('venueName')?.invalid }"
                    ngbDropdownToggle>
                    {{ venueName.controls.length > 0 ? eventShowForm.get('venueName')?.value.join(', ') :
                    'Select Venues' }}
                </button>
                <div class="invalid-feedback">Venue Name is required.</div>


                <div ngbDropdownMenu [hidden]="venuesNameList.length <= 0" aria-labelledby="cityDropdown"
                    class="w-100 p-2" style="max-height: 200px; overflow-y: auto;">

                    <!-- onVenueNameChange() -->
                    @for(venue of venuesNameList ;track $index) {
                    <div class="dropdown-item">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input " [value]="venue?.venueName"
                                [checked]="eventShowForm.get('venueName')?.value.includes(venue?.venueName)"
                                (change)="toggleVenueName($event)">
                            <label class="form-check-label">
                                {{ venue?.venueName }}
                            </label>
                        </div>
                    </div>
                    }
                </div>

            </div>

            @if(eventShowForm.get('eventType')?.value=='Movie'){
            <!-- Releasing On -->
            <div class="mb-3 w-50">
                <label class="form-label">Releasing On
                    <small class="text-danger reuired">*</small>
                </label>
                <input type="date" class="form-control" formControlName="releasingOn" [min]="setToday()"
                    [ngClass]="{'is-invalid': isInvalid('releasingOn')}" (change)="durationOrReleasingOnChange()" />
                @if(isInvalid('releasingOn')){
                <div class="invalid-feedback">
                    Release date is required.
                </div>
                }
            </div>
            }

            @else if(eventShowForm.get('eventType')?.value!='Movie' && eventShowForm.get('eventType')?.value!=''){
            <div class="d-flex align-items-center justify-content-center  gap-2  w-50">
                <!-- Starting On  -->
                <div class="mb-3 w-100">
                    <label class="form-label">Starting On
                        <small class="text-danger reuired">*</small>
                    </label>
                    <input type="date" class="form-control" formControlName="startDate" [min]="setToday()"
                        [ngClass]="{'is-invalid': isInvalid('startDate')}" (change)="onStartOnChange()" />
                    @if(isInvalid('startDate')){
                    <div class="invalid-feedback">
                        Start Date is required.
                    </div>
                    }
                </div>

                <!-- ending On  -->
                <div class="mb-3 w-100">
                    <label class="form-label">Ending On
                        <small class="text-danger reuired">*</small>
                    </label>
                    <input type="date" class="form-control" formControlName="endDate" [min]="setMinEndDate()"
                        [ngClass]="{'is-invalid': isInvalid('endDate')}" (change)="onEndOnChange()" />
                    @if(isInvalid('endDate')){
                    <div class="invalid-feedback">
                        End Date is required.
                    </div>
                    }
                </div>
            </div>
            }
        </div>
        <!-- Content Details -->
        @if(eventShowForm.get('eventType')?.value =='Movie' && eventShowForm.get('venueName')?.value !=''){
        <div class="row my-3 ">
            <!--screen name-->
            <div class="mb-3 w-100 px-5 " formArrayName="screens">
                @for(screen of screens.controls ;track $index){
                <div class="w-100  card my-3 mx-auto  mb-1 p-3" [formGroupName]="$index">
                    <h4> Venue Name: {{screen.get('venueName')?.value}}</h4>
                    <span class="fs-5 fw-semibold  mb-2">Screen Name: {{screen.get('screenName')?.value}} </span>
                    <div formArrayName="layouts" class="mb-1 w-100">
                        <span class="fs-5 fw-semibold">Categories</span>
                        @for(layout of getLayouts(screen).controls ;track $index){
                        <div [formGroupName]="$index" class="row my-3 d-flex  w-100 mx-auto ">
                            <div class="d-flex align-items-center justify-content-center  gap-2 col-2">
                                <span class="my-0 fw-semibold"> Name: </span>
                                <span class="bg-white text-dark  rounded   w-75">
                                    {{layout.get('layoutName')?.value}}
                                </span>
                            </div>
                            <div class="d-flex align-items-center justify-content-center  gap-2 col-2">
                                <span class="my-0 fw-semibold"> Rows: </span>
                                <span class="bg-white text-dark  rounded px-3 py-2 w-75 my-1 ">
                                    {{layout.get('rows')?.value}}
                                </span>
                            </div>
                            <div class="d-flex align-items-center justify-content-center  gap-2 col-2">
                                <span class="my-0 fw-semibold"> Cols: </span>
                                <span class="bg-white text-dark  rounded px-3 py-2 w-75 my-1">
                                    {{layout.get('cols')?.value}}
                                </span>
                            </div>
                            <div class="d-flex align-items-center justify-content-center   gap-2 col-2">
                                <span class="my-0 fw-semibold   w-100 "> Total Seats: </span>
                                <span class="bg-white text-dark  rounded px-3 py-2 w-75 my-1 ">
                                    {{+layout.get('cols')?.value * +getRows(layout)}}
                                </span>
                            </div>
                            <div class="d-flex align-items-center justify-content-center gap-2 col-4">
                                <span class="my-0 fw-semibold d-flex"> Price:
                                    <small class="text-danger reuired">*</small>
                                </span>

                                <div class="d-flex w-100 flex-column ">
                                    <input type="number" formControlName="price" min="99" max="4999"
                                        class="form-control px-3 py-2 w-50 my-1"
                                        [ngClass]="{'is-invalid':layout.get('price')?.touched && layout.get('price')?.invalid }" />
                                    @if(!layout.get('price')?.value && layout.get('price')?.touched ){
                                    <div class="text-danger">
                                        Price is required.
                                    </div>
                                    }
                                    @if(layout.get('price')?.value && layout.get('price')?.hasError('min')){
                                    <div class="text-danger">
                                        Min. Price 99.
                                    </div>
                                    }
                                    @if(layout.get('price')?.touched && layout.get('price')?.value &&
                                    layout.get('price')?.hasError('max')){
                                    <div class="text-danger">
                                        Max. Price 4999
                                    </div>
                                    }

                                </div>
                            </div>
                        </div>
                        }
                    </div>
                    <div class="col-3  d-flex align-items-center ">
                        <span class="fs-5 fw-semibold  w-50">Shows</span>
                        <button class="btn btn-outline-success w-50" (click)="addShow(screen)">Add</button>
                    </div>
                    <!-- shows array -->
                    <div class="" formArrayName="shows">
                        @for(show of getShows(screen).controls ;track $index){
                        <!-- one particualr show =  date & [times] -->
                        <div [formGroupName]="$index" class="row my-3 d-flex card gap-2 py-3 mx-auto  w-100 "
                        [ngClass]="{'is-invalid':show.get('date')?.touched&&show.get('date')?.invalid}" >
                            <!-- date control -->
                            <div class="d-flex align-items-center fs-5 justify-content-start gap-0 w-100 ">
                                <span class="my-0 fw-semibold me-2 p-0   "> Date: <small
                                        class="text-danger reuired">*</small></span>
                                <input type="date" class="form-control me-3 w-25 " formControlName="date"
                                    [min]="validateShowStartDate($index)"
                                    (change)="fetchFreeTimeSlots(show,screen?.get('venueId')?.value,$event,screen?.get('screenId')?.value)">

                                <div ngbDropdown [autoClose]="'outside'"
                                    class="d-flex align-items-center fs-5 justify-content-start gap-3 w-50 ">
                                    <label
                                        class="form-label  d-flex align-items-center my-0 justify-content-center fw-semibold">
                                        Times:
                                        <small class="text-danger reuired"> *</small>
                                    </label>
                                    <button [disabled]="show.get('date')?.invalid"
                                        class="btn btn-white border w-100 text-start d-flex align-items-center justify-content-between"
                                        [ngClass]="{'is-invalid':show.get('startTime')?.hasError('required') && show.get('startTime')?.touched}"
                                        ngbDropdownToggle>
                                        {{ this.getStartTime(show).controls.length > 0 ?
                                        this.getStartTime(show).value.join(',') : 'Select Show Time' }}
                                    </button>

                                    <div class="invalid-feedback fs-6">Atleast one show time is required.</div>
                                    @if(availableSlots.length>0){
                                    <div ngbDropdownMenu aria-labelledby="showTimeDropdown" class="w-100 p-2"
                                        style="max-height: 200px; overflow-y: auto;">
                                        @for(slots of availableSlots; track $index) {
                                        @if(slots.screenId == screen?.get('screenId')?.value && slots.venueId ==
                                        screen?.get('venueId')?.value && slots.date == show.get('date')?.value ){
                                        @for(slot of slots.data; track $index) {
                                        <div class="dropdown-item">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" [value]="slot | json"
                                                    [checked]="getStartTime(show).value.includes(slot.start)"
                                                    (change)="toggleShowTime($event,show)">
                                                <label class="form-check-label">
                                                    {{ `${slot.start}-${slot.end}` }}
                                                </label>
                                            </div>
                                        </div>
                                        }}
                                        }

                                    </div>
                                    }
                                </div>
                                <button class="btn btn-outline-danger ms-auto"
                                    [disabled]="this.getShows(screen).length <= 1"
                                    (click)="removeShow(screen,$index)">Remove</button>
                            </div>
                        </div>
                        <div class="invalid-feedback">Invalid Date </div>
                        
                        }
                    </div>
                </div>
                }
            </div>
        </div>
        }

        <!-- event type != movie -->
        @if(eventShowForm.get('shows')?.value && eventShowForm.get('eventType')?.value != ''){
        @if(selectedVenueObj.length>0){
        @for(venue of selectedVenueObj ;track $index){
        <div class="w-100  card my-3 mx-auto  mb-1 p-3 ">
            <h4 class=" p-2"> Venue Name: {{venue.venueName}}</h4>
            <div class="d-flex align-items-center gap-4 my-3 px-3 w-auto">
                <h4>Shows</h4>
                <button class="btn btn-outline-success " (click)="addEventShow()">Add Show</button>
            </div>
            <!-- shows array -->
            <div class=" w-100 d-flex flex-column align-items-start justify-content-start px-2" formArrayName="shows">
                @for(show of shows.controls ;track $index){
                <!-- one particualr show =  date & [times] -->
                <div [formGroupName]="$index" class="row my-3 d-flex card gap-2 py-3  w-100  mx-auto ">
                    <!-- date control -->
                    <div class="d-flex align-items-center fs-5 justify-content-start gap-0 w-100 ">
                        <span class="my-0 fw-semibold me-2 p-0   "> Date: <small
                                class="text-danger reuired">*</small></span>
                        <input type="date" class="form-control me-3 w-25" [min]="validateShowStartDate($index)"
                            [max]="validateShowEndDate()" formControlName="date"
                            (change)="fetchFreeTimeSlots(show,venue.id,$event)">

                        <div ngbDropdown [autoClose]="'outside'"
                            class="d-flex align-items-center fs-5 justify-content-start gap-3 w-50 ">
                            <label
                                class="form-label  d-flex align-items-center my-0 justify-content-center fw-semibold">
                                Times:
                                <small class="text-danger reuired">*</small>
                            </label>
                            <button [disabled]="show.get('date')?.invalid"
                                class="btn btn-white border w-100 text-start d-flex align-items-center justify-content-between"
                                 [ngClass]="{'is-invalid':show.get('startTime')?.hasError('required') && show.get('startTime')?.touched}"
                                ngbDropdownToggle>
                                {{ this.getStartTime(show).controls.length > 0 ? this.getStartTime(show).value.join(',')
                                :
                                'Select Show Time' }}
                            </button>
                            <div class="invalid-feedback fs-6">Atleast one show time is required.</div>
                            @if(availableSlots.length>0){
                            <div ngbDropdownMenu aria-labelledby="showTimeDropdown" class="w-100 p-2"
                                style="max-height: 200px; overflow-y: auto;">
                                @for(slots of availableSlots; track $index) {
                                @if(slots.venueId == venue.id && slots.date == show.get('date')?.value ){
                                @for(slot of slots.data; track $index) {
                                <div class="dropdown-item">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" [value]="slot | json"
                                            [checked]="getStartTime(show).value.includes(slot.start)"
                                            (change)="toggleShowTime($event,show)">
                                        <label class="form-check-label">
                                            {{ `${slot.start}-${slot.end}` }}
                                        </label>
                                    </div>
                                </div>
                                }}}
                            </div>
                            }
                        </div>
                        <button class="btn btn-outline-danger ms-auto" [disabled]=" this.shows.length<=1"
                            (click)="removeEventShow($index)">Remove</button>
                    </div>
                </div>
                @if(show.get('date')?.invalid && show.get('date')?.touched){
                      <div class="text-danger">Invalid Date </div>
                }
                     
                }
            </div>
        </div>}}
        }

        @if(eventShowForm.get('price') && eventShowForm.get('eventType')?.value != ''){
        <div class="my-2 row d-flex align-items-center p-3 px-4 ">
            <div class="w-75 d-flex align-items-center py-3 gap-5 ">
                <h4>Price : ₹ <small class="text-danger reuired">*</small></h4>
                <input type="number" formControlName="price" min="99" max="4999" class="form-control px-3 w-25 ms-1 "
                    [ngClass]="{'is-invalid':eventShowForm.get('price')?.touched && eventShowForm.get('price')?.invalid }" />
                @if(eventShowForm.get('price')?.touched && eventShowForm.get('price')?.hasError('required')){
                <div class="text-danger">
                    Price is required.
                </div>
                }
                @if(eventShowForm.get('price')?.value && eventShowForm.get('price')?.hasError('min')){
                <div class="text-danger">
                    Min. Price 99.
                </div>
                }
                @if(eventShowForm.get('price')?.value &&
                eventShowForm.get('price')?.hasError('max')){
                <div class="text-danger">
                    Max. Price 4999
                </div>
                }
            </div>
        </div>
        }
    </div>
    <!-- Arrays Section -->
    @if(eventShowForm.get('eventType')?.value != ''){
    <div class="card border mb-4 shadow-sm p-3">
        <!-- Languages -->
        @if(eventShowForm.get('languages')){
        <div class="mb-3 ">
            <h5 class="form-label">● Languages <small class="text-danger reuired">*</small></h5>
            <div class="d-flex flex-wrap">
                @for(lang of languagesArray; track $index) {
                <div class="form-check w-25">
                    <input type="checkbox" class="form-check-input" (change)="handleInputBoxChange($event,'languages')"
                        [value]="lang.languageId" [ngClass]="{'is-invalid': isInvalid('languages')}">
                    <label class="form-check-label">{{lang.languageName}}</label>
                </div>
                }
            </div>
            @if(isInvalid('languages')){
            <div class="invalid-feedback">
                At least one language is required.
            </div>
            }
        </div>
        }
        <!-- Genres -->
        @if(eventShowForm.get('genres')){
        <div class="mb-3 ">
            <h5 class="form-label">● Genres <small class="text-danger reuired">*</small></h5>
            <div class="d-flex flex-wrap">
                @for(genre of genresArray; track $index) {
                <div class="form-check w-25">
                    <input type="checkbox" class="form-check-input" (change)="handleInputBoxChange($event,'genres')"
                        [value]="genre.genresId" [ngClass]="{'is-invalid': isInvalid('genres')}">
                    <label class="form-check-label">{{genre.genresName}}</label>
                </div>
                }
            </div>
            @if(isInvalid('genres')){
            <div class="invalid-feedback">
                At least one genre is required.
            </div>
            }
        </div>
        }
        <!-- Formats -->
        @if(eventShowForm.get('format')){
        <div class="mb-3 ">
            <h5 class="form-label">● Formats <small class="text-danger reuired">*</small></h5>
            <div class="d-flex flex-wrap">
                @for(format of formatsArray; track $index) {
                <div class="form-check w-25">
                    <input type="checkbox" class="form-check-input" (change)="handleInputBoxChange($event,'format')"
                        [value]="format.formatId" [ngClass]="{'is-invalid': isInvalid('format')}">
                    <label class="form-check-label">{{format.formatName}}</label>
                </div>
                }
            </div>
            @if(isInvalid('format')){
            <div class="invalid-feedback">
                At least one format is required.
            </div>
            }
        </div>
        }
        <!-- Tags -->
        @if(eventShowForm.get('tag')){
        <div class="mb-3 ">
            <h5 class="form-label">● Tags <small class="text-danger reuired">*</small></h5>
            <div class="d-flex flex-wrap">
                @for(tag of tagsArray; track $index) {
                <div class="form-check w-25">
                    <input type="checkbox" class="form-check-input" [value]="tag.tagId"
                        (change)="handleInputBoxChange($event,'tag')" [value]="tag.tagId"
                        [ngClass]="{'is-invalid': isInvalid('tag')}">
                    <label class="form-check-label">{{tag.tagName}}</label>
                </div>
                }
            </div>
            @if(isInvalid('tag')){
            <div class="invalid-feedback">
                At least one tag is required.
            </div>
            }
        </div>
        }
        <!-- Categories -->
        @if(eventShowForm.get('categories')){
        <div class="mb-3 ">
            <h5 class="form-label">● Categories <small class="text-danger reuired">*</small></h5>
            <div class="d-flex flex-wrap">
                @for(category of categoriesArray; track $index) {
                <div class="form-check w-25">
                    <input type="checkbox" class="form-check-input" (change)="handleInputBoxChange($event,'categories')"
                        [value]="category.categoryId" [ngClass]="{'is-invalid': isInvalid('categories')}">
                    <label class="form-check-label">{{category.categoryName}}</label>
                </div>
                }
            </div>
            @if(isInvalid('categories')){
            <div class="invalid-feedback">
                At least one category is required.
            </div>
            }
        </div>
        }
        <!-- More Filters -->
        @if(eventShowForm.get('moreFilters')){
        <div class="mb-3 ">
            <h5 class="form-label">● More Filters <small class="text-danger reuired">*</small></h5>
            <div class="d-flex flex-wrap">
                @for(moreFilter of moreFilters; track $index) {
                <div class="form-check w-25">
                    <input type="checkbox" class="form-check-input"
                        (change)="handleInputBoxChange($event,'moreFilters')" [value]="moreFilter.moreFilterId"
                        [ngClass]="{'is-invalid': isInvalid('moreFilters')}">
                    <label class="form-check-label">{{moreFilter.moreFilterName}}</label>
                </div>
                }
            </div>
            @if(isInvalid('moreFilters')){
            <div class="invalid-feedback">
                At least one filter is required.
            </div>
            }
        </div>
        }
    </div>
    }
    <!-- Cast -->
    @if(eventShowForm.get('eventType')?.value == 'Movie' || eventShowForm.get('eventType')?.value == 'Plays' ||
    eventShowForm.get('eventType')?.value == 'Activities'|| eventShowForm.get('eventType')?.value == 'Event'){
    <div class="card mb-4 shadow-sm">
        <div class="card-body" formArrayName="cast">
            <div class="d-flex mb-3 justify-content-start align-items-center gap-4">
                <h5 class="card-title mb-0">🎭 Cast <small class="text-danger reuired">*</small></h5>
                <button class="btn btn-outline-primary btn-sm" type="button" (click)="addCast()">Add Cast</button>
            </div>
            @for(c of castControls.controls;track $index ){
            <div formGroupName="{{$index}}" class="row mb-2">
                <div class="col">
                    <input class="form-control" placeholder="Actor Name" formControlName="actorName"
                        [ngClass]="{'is-invalid': c.get('actorName')?.invalid && (c.get('actorName')?.touched || c.get('actorName')?.dirty)}" />
                    @if(c.get('actorName')?.invalid && (c.get('actorName')?.touched || c.get('actorName')?.dirty)){
                    <div class="invalid-feedback">
                        Actor name is required.
                    </div>
                    }
                </div>
                <div class="col">
                    <input type="file" class="form-control" (change)="handleImageUpload($event,'cast',$index)"
                        [ngClass]="{'is-invalid': c.get('castImg')?.invalid && (c.get('castImg')?.touched || c.get('castImg')?.dirty)}" />
                    @if(c.get('castImg')?.invalid && (c.get('castImg')?.touched || c.get('castImg')?.dirty)){
                    <div class="invalid-feedback">
                        Cast image is required.
                    </div>
                    }
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-danger" type="button" [disabled]="$index==0"
                        (click)="castControls.removeAt($index)">✕</button>
                </div>
            </div>
            }
        </div>
    </div>
    <!-- Crew -->
    <div class="card mb-4 shadow-sm">
        <div class="card-body" formArrayName="crew">
            <div class="d-flex mb-3 justify-content-start align-items-center gap-4">
                <h5 class="card-title">🎬 Crew <small class="text-danger reuired">*</small></h5>
                <button class="btn btn-outline-primary btn-sm" type="button" (click)="addCrew()">Add Crew</button>
            </div>
            @for(m of crewControls.controls;track $index){
            <div formGroupName="{{$index}}" class="row mb-2">
                <div class="col">
                    <input class="form-control" placeholder="Member Name" formControlName="memberName"
                        [ngClass]="{'is-invalid': m.get('memberName')?.invalid && (m.get('memberName')?.touched || m.get('memberName')?.dirty)}" />
                    @if(m.get('memberName')?.invalid && (m.get('memberName')?.touched ||
                    m.get('memberName')?.dirty)){
                    <div class="invalid-feedback">
                        Member name is required.
                    </div>
                    }
                </div>
                <div class="col">
                    <input type="file" class="form-control" (change)="handleImageUpload($event,'crew',$index)"
                        [ngClass]="{'is-invalid': m.get('crewImg')?.invalid && (m.get('crewImg')?.touched || m.get('crewImg')?.dirty)}" />
                    @if(m.get('crewImg')?.invalid && (m.get('crewImg')?.touched || m.get('crewImg')?.dirty)){
                    <div class="invalid-feedback">
                        Crew image is required.
                    </div>
                    }
                </div>
                <div class="col-auto">
                    <button class="btn btn-outline-danger" type="button" [disabled]="$index==0"
                        (click)="crewControls.removeAt($index)">✕</button>
                </div>
            </div>
            }
        </div>
    </div>}
    <!-- Submit -->
    <div class="text-end mb-3">
        <button class="btn btn-primary px-4" type="submit" (click)="onShowFormSubmit()">Submit</button>
    </div>
</form>