<!-- carousel section  -->
<carousel id="carouselExample" class="carousel slide" data-bs-ride="carousel" [interval]="2000" indicators="false"
    [isAnimated]="true">
    <div class="carousel-inner">
        <slide class="carousel-item active">
            <div class="carousel-image-container">
                <img class="carousel-image left" src="assets/images/movies_carousel_img1.avif" alt="Image 2">
                <img class="carousel-image center" src="assets/images/movies_carousel_img2.avif" alt="Image 1">
                <img class="carousel-image right" src="assets/images/movies_carousel_img1.avif" alt="Image 3">
            </div>
        </slide>
        <slide class="carousel-item">
            <div class="carousel-image-container">
                <img class="carousel-image left" src="assets/images/movies_carousel_img2.avif" alt="Image 2">
                <img class="carousel-image center" src="assets/images/movies_carousel_img1.avif" alt="Image 1">
                <img class="carousel-image right" src="assets/images/movies_carousel_img2.avif" alt="Image 3">
            </div>
        </slide>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</carousel>
<!-- Movies Section  -->
@if( dummyMoviesdata?.length){
<div class="conatiner-fluid mt-5 ">
    <div class="row g-0">
        <div class="main_container_box d-flex justify-content-center ">
            <div class="col-8">
                <div class="top_heading_movies d-flex justify-content-between">
                    <div class="col-3 px-2">
                        <h4>Filters</h4>
                    </div>
                    <div class="col-9">
                        <h4 class="fs-4 fw-500 m-0">Movies in {{commonService._selectCity()}}</h4>
                    </div>
                </div>
                <div class="filter_cards_container d-flex justify-content-between py-4">
                    <div class="col-3">
                        <div>
                            <div class="app_filter_box ">
                                <app-filter-accordion (filterEvent)="getFilter($event)" (clearFilterEvent)="clearFilter($event)">
                                </app-filter-accordion>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 d-block ">
                        <div class="top_bar_Comming_soon d-flex flex-column gap-3">
                            <div class="d-flex gap-2 language_text py-2 flex-wrap">
                                @for (item of commonService.selectedFiltersSignal(); track $index) {
                                @for(i of item.data;track $index){
                                <span [ngClass]="{selectedText: i.selected}" class="border-danger">
                                    {{i.text}}
                                </span>
                                }
                                }
                                @for (item of commonService.topFiltersArray()[0]?.data; track $index) {
                                @if(!item.selected){

                                <span [ngClass]="{selectedText: item.selected}"
                                    (click)="commonService.handleEventFilter(item)">
                                    {{item.text}}
                                </span>
                                }
                                }
                            </div>
                            <div
                                class="d-flex justify-content-between py-4 px-3 rounded-2 comming_soon_bar bg-white align-items-center shadow-sm">
                                <h4 class="fs-5 fw-500 m-0">Coming Soon</h4>
                                <a class="explore_text" [routerLink]="['upcoming-movies']">Explore upcoming movies <i
                                        class="fa fa-angle-right ms-1" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-start align-items-start g-0">
                                <div class="main_box_crasoule">
                                    <div class="main_filter_card overflow-hidden">
                                        <div
                                            class="filter_text d-flex flex-wrap gap-3 py-5 justify-content-start align-items-start">
                                            @for (item of dummyMoviesdata; track $index) {
                                            <ng-container class="overflow-hidden w-50">
                                                <div class="col card_container">
                                                    <div class="card shadow-sm">
                                                        <a class="img_container rounded-4 justify-content-start"
                                                            [routerLink]="['/movie',commonService._selectCity(),item.eventId]">
                                                            <img [src]="commonService.getImageFromBase64(item.imageurl)"
                                                                [alt]="item?.imageurl">
                                                        </a>
                                                        <div class="card-body rounded-bottom bg-dark">
                                                            <div class="d-flex gap-2">
                                                                <p class="m-0 d-flex gap-2 align-items-center">
                                                                    <i class="fa fa-star rating-star text-danger"
                                                                        aria-hidden="true"></i>
                                                                    <span
                                                                        class="text-white">{{item.imdbRating}}/10</span>
                                                                    <span class="text-white">{{item.votes}}</span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="bottom_text_movie_card py-3">
                                                        <h6 class="card-text m-0">{{item.name | truncate:25}} </h6>
                                                        <span>UA{{item.ageLimit}}+</span>
                                                        <div class="d-flex flex-wrap gap-1">
                                                            @for (lang of item.languages; track $index) {
                                                            <span class="m-0">{{lang}}</span>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
}
@else {
<app-buy-ticket-skelton-loader></app-buy-ticket-skelton-loader>
}