<div class="container-fluid">
    <div class="row main_table_container">
        <div class="col-10 ">
            <div class="w-100 d-flex justify-content-between align-items-center">
                <h4> Venues List</h4>
                <div class="w-25  me-auto ms-2">
                    <input type="text" class=" form-control w-100" placeholder="Search by Name, Type, City ">
                </div>
                <div class=" py-3 d-flex w-50  d-flex align-items-center justify-content-start ">
                    <div class=" d-flex gap-4 align-items-center justify-content-center w-50 px-1">
                        <span>
                            City
                        </span>
                        <select class="form-select w-50" aria-label="Default select example"
                            (change)="setUserSelectedCity($event)">
                            <!-- (change)="selectRoleByList($event)" -->
                            <option value="" selected>All</option>
                            @for(city of cityList;track $index){
                            <option value="{{city.cityName}}">{{city.cityName | titlecase}}</option>
                            }
                        </select>
                    </div>
                    <div class="d-flex  gap-4 align-items-center justify-content-center w-50 px-1">
                        <span>
                            Type
                        </span>
                        <select class="form-select w-50" aria-label="Default select example"
                            (change)="setUserSelectedVenueType($event)">
                            <option value="" selected>All</option>
                            @for(venueType of venueTypeList;track $index){
                            <option value="{{venueType}}">{{venueType}}</option>
                            }
                        </select>
                    </div>
                    <button class="btn btn-outline-primary w-25" [routerLink]="['/admin/create/venue']">Add New</button>
                </div>
            </div>
            <!-- Users Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>Venue-Name</th>
                        <th>Venue-Type</th>
                        <th>Supported Categories</th>
                        <!-- <th>Screens</th> -->
                        <th>Venue-Capacity</th>
                        <th>Venue-Address</th>
                        <th>Amenities</th>
                    </tr>
                </thead>
                <tbody>
                    @for (venue of filteredVenuesList || venuesList; track $index) {
                    <tr>
                        <td>{{ $index +1}}</td>
                        <td>{{ venue.venueName }}</td>
                        <td>{{ venue.venueType ?? 'N/A' }}</td>
                        <td>
                        @if(venue.supportedCategories.length>0){
                            @for(a of venue.supportedCategories;track $index){
                            {{a}},
                            }
                            }
                            @else{
                            N/A
                            }
                            </td> 
                        <td>{{ venue.venueCapacity }}</td>
                        <td>{{ transformAddress(venue.address)}}</td>
                        <td>
                            @if(venue.amenities.length>0){
                            @for(a of venue.amenities;track $index){
                            {{a}}
                            }
                            }
                            @else{
                            N/A
                            }

                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>