<div class="container-fluid">
    <div class="row main_table_container">
        <div class="col-10 ">
            <div class="w-100 d-flex justify-content-between align-items-center">
                <h4> Venues List</h4>
                <div class="w-25  me-auto ms-2">
                    <input type="text" class="d-flex align-items-center   form-control w-100"
                        placeholder="Search by Name" [(ngModel)]="searchValue">
                </div>
                <div class=" py-3 d-flex w-50  d-flex align-items-center justify-content-start ">
                    <div class=" d-flex gap-4 align-items-center justify-content-center w-50 px-1">
                        <span>
                            City
                        </span>
                        <select class="form-select w-50" aria-label="Default select example"
                            [(ngModel)]="userSelectedCity" (change)="setUserSelectedCity($event)">
                            <!-- (change)="selectRoleByList($event)" -->
                            <option value="" selected>All</option>
                            @for(city of cityList;track $index){
                            <option value="{{city.cityName}}">{{city.cityName | titlecase}}</option>
                            }
                        </select>
                    </div>
                    <div class="d-flex  gap-4 align-items-center justify-content-center w-50 px-1">
                        <span>
                            Type
                        </span>
                        <select class="form-select w-50" aria-label="Default select example"
                            [(ngModel)]="userSelectedVenueType" (change)="setUserSelectedVenueType($event)">
                            <option value="" selected>All</option>
                            @for(venueType of venueTypeList;track $index){
                            <option value="{{venueType}}">{{venueType}}</option>
                            }
                        </select>
                    </div>
                    <button class="btn btn-outline-primary w-25" [routerLink]="['/admin/create/venue']">Add New</button>
                </div>
            </div>
            <!-- Users Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            @if(bulkDeleteVenuesList.length>1){
                            <div class=" fs-5 p-0 m-0 text-danger ">
                                <i class="fa fa-trash delete-btn " (click)="deleteMultipleVenues()"
                                    aria-hidden="true"></i>
                            </div>
                            }
                        </th>
                        <th>Sr.No</th>
                        <th>Venue-Name</th>
                        <th>Venue-For</th>
                        <th>Supported Categories</th>
                        <th>Venue-Capacity</th>
                        <th>Venue-Address</th>
                        <th>Amenities</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @for (venue of visibleData; track $index) {
                    @if(venue.venueName.toLowerCase().includes(searchValue.toLowerCase())){
                    <tr>
                        <td>
                            <input type="checkbox" class="form-check-input" (change)="toggleVenueList($event,venue)"
                                [checked]="bulkDeleteVenuesList.includes(venue.id)">
                        </td>
                        <td>{{ $index +1}}</td>
                        <td>{{ venue.venueName }}</td>
                        <td>{{ venue.venueType ?? 'N/A' }}</td>
                        <td>
                            @if(venue.supportedCategories.length>0){
                            @for(a of venue.supportedCategories;track $index){
                            {{a}},
                            }
                            }
                            @else{
                            N/A
                            }
                        </td>
                        <td>{{ venue.venueCapacity }}</td>
                        <td>{{ transformAddress(venue.address)}}</td>
                        <td>
                            @if(venue.amenities.length>0){
                            {{venue.amenities.join(',')}}
                            }
                            @else{
                            N/A
                            }

                        </td>
                        <td>
                            <div class=" fs-5 p-0 m-0">
                                <i class="fa fa-trash delete-btn " (click)="openDeleteModal(confirmDeleteModal,venue)"
                                    [ngStyle]="{'color':bulkDeleteVenuesList.length>1?'grey':'red','cursor':bulkDeleteVenuesList.length>1?'not-allowed':'pointer'}"
                                    aria-hidden="true"></i>
                            </div>
                        </td>
                    </tr>
                    }
                    }
                </tbody>
            </table>
            @if(visibleData.length==0){
            <div class="text-center text-danger">No results found</div>
            }
        </div>
    </div>

    @if(!searchValue){
    <div class="py-3 d-flex align-items-center justify-content-between w-75 mx-auto mt-auto">
        <button class="btn btn-sm btn-primary" [disabled]="pageNo==1" [ngClass]="{'btn-secondary':pageNo==1}"
            (click)="prev()">Prev</button>
        <span>Page {{pageNo}} of {{totalPages}} </span>
        <button class="btn btn-sm btn-primary" [disabled]="pageNo==totalPages"
            [ngClass]="{'btn-secondary':pageNo==totalPages}" (click)="next()">Next</button>
    </div>
    }

</div>

<ng-template #confirmDeleteModal let-modal>
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 ">
            <div class="modal-header justify-content-center">
                <h4 class="modal-title" id="confirmDeleteModal">Do You Want to Delete?</h4>
            </div>
            <div class="modal-body border-0 text-center">
                <p>Do you really want to Delete
                    <span class="text-danger">
                        {{venueToDelete.venueName}}
                    </span>
                    ?
                </p>
            </div>
            <div class="modal-footer border-0 justify-content-center">
                <button type="button" class="btn btn-secondary" (click)="closeDeleteModal()">Cancel</button>
                <button type="button" class="btn btn-danger" (click)="deleteVenueById()">Delete</button>
            </div>
        </div>
    </div>
</ng-template>