<section class="wrapper">
    <div class="container-fostrap">
        <div class="content">
            <div class="container">
                <div class="row">
                    @for (booking of getShowsData; track $index) {
                    <div class="col-container mb-4">
                        <div class="card">
                            <a class="img-card">
                                <img [src]="booking.eventPoster " [alt]=" booking.eventName " />
                            </a>
                            <div class="card-content p-3">
                                <h4 class="card-title">{{ booking.eventName | truncate: 15 }}</h4>
                                <p class="mb-1">Cinema: {{ booking.venue }}</p>
                                <p class="mb-1">Screen: {{ booking.screen }}</p>
                                <p class="mb-1">Date: {{ booking.date }}</p>
                                <p class="mb-1">Time: {{ booking.time }}</p>
                                <p class="mb-1">Seats: {{ booking.seats.join(', ') }}</p>
                                <p class="mb-1">Total Amount: ₹{{ booking.totalAmount }}</p>
                                <p>
                                    <span
                                        [ngClass]="{'text-success': booking.bookingStatus === 'confirmed','text-danger': booking.bookingStatus === 'cancelled'}">
                                        Status: {{ booking.bookingStatus | titlecase }}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </div>
                    } @if(getShowsData.length ===0){
                    <div class="no_bookings">
                        <h3>No bookings found</h3>
                        <p>You have not made any bookings yet. Start exploring and book your favorite movies now!</p>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>