.fa-search {
  color: rgb(170, 170, 170);
}
.input-group-text {
  border-radius: 5px 0px 0px 5px;
}
.input-group {
  width: 500px;
}
::placeholder {
  color: rgb(170, 170, 170);
  font-size: small;
}
