<!-- crousel -->

<carousel [interval]="3000" indicators="false" [isAnimated]="true">
    <slide>
        <div class="img_container_carsolue">
            <img src=" assets/images/carousel-img-1.png" alt="first slide" style="display: block; width: 100%;">
        </div>
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide>
    <slide>
        <div class="img_container_carsolue">

            <img src="assets/images/carousel-img-2.png" alt="second slide" style="display: block; width: 100%;">
        </div>
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide>
    <slide>
        <div class="img_container_carsolue">

            <img src="assets/images/carousel-img-3.png" alt="third slide" style="display: block; width: 100%;">
        </div>
        <div class="carousel-caption d-none d-md-block">

        </div>
    </slide>
</carousel>


<!-- Movies Section  -->

<div class="conatiner-fluid mt-5 d-flex justify-content-center ">
    <div class="col-10 py-3 ">
        <div class="top_recommanded_movie_text d-flex justify-content-between align-items-center">
            <h4 class="recommended_movie_headding mb-3">Recommended Movies</h4>
            <a class="seeall_txt">See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
            </a>
        </div>



        <div class="col-12 py-3">
            <div class="d-flex justify-content-center g-0">

                <div class="main_box_crasoule d-flex align-items-center">
                    <div class="icon_box d-flex justify-content-end me-3">
                        @if(pageNo > 0){
                        <button class="arrow-btn" (click)="prev()">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                        }
                    </div>
                    <div class="main_filter_card overflow-hidden ">
                        <div class="filter_text d-flex gap-3 ">
                            <ng-container *ngFor="let item of dummyMoviesdatafiltered; let $index = index"
                                class="overflow-hidden w-50">
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <div class="img_container">
                                            <img [src]="item.Poster" [alt]="item.Poster">

                                        </div>
                                        <div class="card-body rounded-bottom bg-dark">
                                            <div class="d-flex gap-2">
                                                <span>
                                                    <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
                                                </span>
                                                <span class="text-white">
                                                    1.5M likes
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom_text_movie_card">
                                        <h6 class="card-text m-0">{{item.Title | truncate:15}} </h6>
                                        <span class="m-0">{{item.Genre}}</span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="icon_box d-flex justify-content-start ms-3">
                        @if (end < originalMovies.length) { <button class="arrow-btn" (click)="next()">
                            <i class=" fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                            }
                    </div>



                </div>
            </div>
        </div>
        <div class=" d-flex justify-content-center my-5 py-4 ">
            <img src="assets/images/stream-leadin-web-collection-202210241242.avif" alt="render" class="img-fluid">
        </div>

    </div>
</div>


<div class="conatiner-fluid mt-5 d-flex justify-content-center ">
    <div class="col-9 py-3 ">
        <div class="top_recommanded_movie_text d-flex justify-content-between align-items-center">
            <h4 class="recommended_movie_headding mb-3">The Best Of Live Events</h4>
            <a class="seeall_txt">See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
            </a>
        </div>

        <div class="col-12 py-3">
            <div class="d-flex justify-content-center g-0">

                <div class="main_box_crasoule d-flex align-items-center">
                    <div class="icon_box d-flex justify-content-end me-3">
                        @if(pageNo > 0){
                        <button class="arrow-btn" (click)="prev()">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </button>
                        }
                    </div>
                    <div class="main_filter_card overflow-hidden ">
                        <div class="filter_text d-flex gap-3 ">
                            <ng-container *ngFor="let item of dummyMoviesdatafiltered; let $index = index"
                                class="overflow-hidden w-50">
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <div class="img_container">
                                            <img [src]="item.Poster" [alt]="item.Poster">

                                        </div>
                                        <div class="card-body rounded-bottom bg-dark">
                                            <div class="d-flex gap-2">
                                                <span>
                                                    <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
                                                </span>
                                                <span class="text-white">
                                                    1.5M likes
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="bottom_text_movie_card">
                                        <h6 class="card-text m-0">{{item.Title | truncate:15}} </h6>
                                        <span class="m-0">{{item.Genre}}</span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="icon_box d-flex justify-content-start ms-3">
                        @if (end < originalMovies.length) { <button class="arrow-btn" (click)="next()">
                            <i class=" fa fa-angle-right" aria-hidden="true"></i>
                            </button>
                            }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>