.logo {
    height: 40px;
    width: 130px;
    display: flex;
    align-items: center;
}

.header-section {
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    background: white;
}

.main_conatiner {
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(229, 229, 229);
}

.main_conatiner .col-4 .logo_container {
    padding: 5px 57px;
}

.left_aarow {
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: x-large;
}

.events_name_tittle {
    color: rgb(51, 51, 51);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    padding: 0px 16px;
}

.center_title_moviename {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    padding: 0px 35px;
}

.sub_content {
    overflow: auto;
    display: flex;
    justify-content: flex-start;
    width: 530px;
    padding: 15px 16px;
    gap: 8px;
}

.titles_theater_box {
    padding: 0px 35px;
}

.sub_header_tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.conuter_forms_number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.theater_detail_info {
    width: 100%;
    background-color: rgb(229, 229, 229);
    padding: 8px 16px;
    display: flex;
    justify-content: center;
}

.theater_name_text {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.main_container_box_content {
    padding: 80px 100px;
}

.theater_sub_name {
    color: rgb(82, 82, 82);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.select_ticket_sloats {
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    padding: 12px 16px;
}

.rate_seatting_text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.btn_add {
    border: 1px solid rgb(220, 53, 75);
    padding: 6px;
    border-radius: 8px;
    color: rgb(220, 53, 75);
    width: min-content;
    height: min-content;
    cursor: pointer;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seatting_type {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.seatting_price {
    color: rgb(82, 82, 82);
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.2px;
}

.procceed_button_section {
    display: flex;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 8px;
    width: 100%;

    background: rgb(255, 255, 255);
}

.procceed_button_section .col-4 {
    padding: 10px 67px;
}

.counters_ticket {
    border: 1px solid rgb(220, 53, 75);
    padding: 6px;
    border-radius: 8px;
    width: min-content;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: rgb(220, 53, 75);
}

.shine_text {
    font-size: large;
    cursor: pointer;
}

.step_number {
    background: none;
    border: none;
}

.step-number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.step_tittle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    color: rgb(51, 51, 51);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.step {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.status-dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
}

.available {
    background-color: #00c853;
}

.fast-filling {
    background-color: #ff7043;
}

.sold-out {
    background-color: #bdbdbd;
}

.option-card {
    background: white;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
}

.date-btn,
.time-btn {
    border: none;
    padding: 12px 24px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s;
}

.date-btn:not(.active) {
    border: 1px solid #ff7043;
    color: #ff7043;
    background-color: white;
}

.proceed-btn {
    background-color: #d32f2f;
    color: white;
    border: none;
    width: 100%;
    font-weight: 600;
    padding: 12px;
    border-radius: 6px;
}

.proceed-btn:hover {
    background-color: #b71c1c;
}

.ticket_limit {
    color: rgb(82, 82, 82);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.2px;
}

.entry_pass {
    padding: 10px;
}

.hidden-radio {
    display: none;
}



.time-btn {
    background: white;
    color: black;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
}

.hidden-radio:checked+.time-btn {
    background: rgb(0, 200, 83);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.date_disabled {
    opacity: 0.5;
    color: rgb(170, 170, 170);
    z-index: -1;
    cursor: not-allowed !important
}

.date_card {
    cursor: pointer;
}

i {
    cursor: pointer;
}

.no_shows {
    margin-left: 170px;
    margin-top: 60px;
}
.logo_container{
    cursor: pointer;
}