<div class="container-fluid">
    <div class="row main_table_container">
        <div class="col-10">
            <div class="col-12 d-flex justify-content-between align-items-center">
                <h4>All Users List</h4>

                <div class="col-4 py-3 px-2 gap-2 d-flex">
                    <div class="col-3">
                        <select class="form-select" aria-label="Default select example"
                            (change)="selectRoleByList($event)">
                            <option value="All" selected>All</option>
                            <option value="ADMIN">Admin</option>
                            <option value="USER">User</option>
                        </select>
                    </div>

                    <input type="text" [(ngModel)]="searchText" (ngModelChange)="onSearchUserData($event)"
                        class="search_input form-control" placeholder="Search by name, username, email & phoneNumber">
                </div>
            </div>

            <!-- Users Table -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>UserName</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>RoleName</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @for (user of usersData; track $index) {
                    <tr>
                        <td>{{ user.userId }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>
                            <p class="rolename m-0" [ngClass]="{'admin_color': user.roleName === 'ADMIN'}">
                                {{ user.roleName }}
                            </p>
                        </td>
                        <td>
                            <button class="btn btn-primary text-white" (click)="userGetById(user.userId)">Edit
                                Role</button>
                            <button class="btn btn-danger" (click)="deletUser(user.userId)">Delete</button>
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<ng-template #editRoleModal let-modal>
    <div class="modal-body p-0">
        <div class="container-fluid p-4">
            <div class="row">
                <div class="col-12 g-0">
                    <h5><span class="">UserName:</span>{{singleUserDetail.username}}</h5>
                </div>

                <div class="col-12 g-0 ">

                    <label for="roleSelect" class="form-label">Select Role</label>
                    <select id="roleSelect" class="form-select" [(ngModel)]="selectedRole">
                        <option value="USER" selected>User</option>
                        <option value="ADMIN">Admin</option>
                    </select>
                </div>


                <button type="button" class="btn btn-primary mt-2" (click)="updateUserRole()">Save Changes</button>

            </div>
        </div>
    </div>


</ng-template>