.carousel-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.carousel-image {
  min-width: 70%;
  height: 150px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  height: 300px;
}

.carousel-image.left,
.carousel-image.right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%); /* Vertically center the image */

  transition: transform 0.5s ease, opacity 0.5s ease;
}

.carousel-image.left {
  left: 87%; /* Move the left image off-screen */
  transform: translateY(-50%); /* Slightly rotate the left image */
}

.carousel-image.right {
  right: 87%; /* Move the right image off-screen */
  transform: translateY(-50%) rotateY(-10deg); /* Slightly rotate the right image */
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  transition: transform 0.5s ease;
}

/* Optional: Controls for Carousel Navigation */
.carousel-control-prev,
.carousel-control-next {
  z-index: 1; /* Ensure controls are clickable on top of the carousel */
}
.carousel-item.active .carousel-image.center {
  opacity: 1; /* Fully visible in the center */
  transform: translateY(0) rotateY(0);

  /* Center image has no rotation */
}
.language_text span {
  border: 1px solid black;
  border-radius: 20%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 16px;
  padding: 1px 12px 0px;
  height: 32px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(204, 204, 204);
  opacity: 1;
  color: rgb(220, 53, 88);
}
.comming_soon_bar {
  background: transparent;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
.explore_text {
  margin: 0px;
  text-decoration: none;
  word-break: break-word;
  color: rgb(220, 53, 88);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.43;
}
.img_container img {
  min-width: 100%;
  max-height: 250px;
}
.app_filter_box {
  padding: 0px 50px 0px 0px;
}
