.main_container {
  width: calc(100%);
  max-width: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 10px;
}

::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

/* Container Styling */
.container_fluid {
  padding: 20px;
  background: #f9f9f9;
}

.card_container {
  height: 50rem;
  overflow-y: auto;
}

.on_hover_card:hover {
  cursor: pointer;
  border-radius: 10px;
  background-color: rgb(232, 228, 228);
}

.card_img_top {
  width: 100%;
  height: 15rem;
  object-fit: fill;
}

.custom_card {
  // border:2px solid red;
  width: 15rem;
  min-height: 28rem;
}

.rating_text {
  position: absolute;
  top: 13rem;
  width: 100%;
  background-color: #333;
  color: white;
  font-size: 18px;
  padding: 5px 15px;
}

.card_body {
  padding: 10px 5px;
  height: 13rem;
  max-height: 14rem;
  display: flex;
  flex-direction: column;
}