@if(commonService.showHeader()){

<div class="contanier-fluid bg-dark py-5">
    <div class="row d-flex justify-content-center align-items-center g-0">
        <div class="col-8 d-flex justify-content-between py-4 px-5">
            <div class="d-flex gap-3 align-items-center">
                <img src="assets/svg/footer-hut.svg" alt="">
                <h4 class="m-0 show_title">List your Show</h4>
                <p class="m-0 show_subTitle">Got a show, event, activity or a great experience? Partner with us & get
                    listed
                    on
                    BookMyShow</p>
            </div>
            <div class="col-2">
                <button type="button" class="contact_btn">Contact today!</button>
            </div>
        </div>

        <!-- footer_icons care -->
        <div class="footer_icon_container py-4">
            <div class="col-8 d-flex justify-content-between">
                <div class="col-4 d-flex flex-column gap-2">
                    <div class="img_icon ">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                    </div>
                    <span class="icon_text">
                        24/7 CUSTOMER CARE
                    </span>
                </div>
                <div class="col-4 d-flex flex-column gap-2">
                    <div class="img_icon">
                        <i class="fa fa-ticket" aria-hidden="true"></i>
                    </div>
                    <span class="icon_text">
                        RESEND BOOKING CONFIRMATION
                    </span>
                </div>
                <div class="col-4 d-flex flex-column gap-2">
                    <div class="img_icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i>

                    </div>
                    <span class="icon_text">
                        SUBSCRIBE TO THE NEWSLETTER

                    </span>
                </div>
            </div>
        </div>

        <div class="col-12 py-5">
            <div class="d-flex align-items-center">
                <hr class="w-100 text-white">
                <a class=" px-4">
                    <img alt="" src="assets/svg/footer-logo.svg"></a>
                <hr class="w-100 text-white">

            </div>
        </div>
        <div class="col-10 d-flex justify-content-center ">
            <div class="col-4 footer_social_icons d-flex justify-content-center gap-4">
                <i class="fa fa-facebook" aria-hidden="true"></i>
                <i class="fa fa-instagram" aria-hidden="true"></i>
                <i class="fa fa-twitter" aria-hidden="true"></i>
                <i class="fa fa-youtube" aria-hidden="true"></i>
                <i class="fa fa-pinterest-p" aria-hidden="true"></i>
                <i class="fa fa-linkedin" aria-hidden="true"></i>

            </div>
        </div>
        <div class="col-12 d-flex justify-content-around py-4">
            <div class="col-10">
                <div class=" text-center footer_copyright_text">Copyright 2025 © Bigtree Entertainment Pvt. Ltd.
                    All
                    Rights Reserved.<br>The content and images used on this site are copyright protected and copyrights
                    vests
                    with the respective owners. The usage of the content and images on this website is intended to
                    promote
                    the
                    works and no endorsement of the artist shall be implied. Unauthorized use is prohibited and
                    punishable
                    by
                    law.
                </div>
            </div>
        </div>
    </div>

</div>

}