.show_title {
  flex: 0 0 auto;
  margin: 0px 16px 0px 4px;
  font-weight: 600;
  color: white;
}
.show_subTitle {
  flex: 1 1 0%;
  color: white;
}
.contact_btn {
  flex: 0 0 auto;
  background-color: rgb(236, 94, 113);
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  color: rgb(255, 255, 255);
  border: none;
}
.footer_icon_container {
  display: flex;
  justify-content: center;
  background-color: rgb(64, 64, 67);
}
.img_icon {
  display: flex;
  justify-content: space-around;
}
.img_icon i {
  color: rgb(166, 164, 164);
  font-size: xx-large;
}
.icon_text {
  color: rgb(166, 164, 164);
  text-align: center;
}
.col-4:hover .img_icon i,
.col-4:hover .icon_text {
  color: white;
}

.footer_social_icons i {
  font-size: large;
  border-radius: 50%;
  background: grey;
  padding: 20px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_social_icons i:hover {
  background: white;
  color: rgb(91, 89, 89);
}
.footer_copyright_text {
  font-size: 13px;
  color: rgb(148, 147, 147);
}
