<div class="conatiner-fluid mt-5 ">
    <div class="row g-0">
        <div class="main_container_box d-flex justify-content-center" (scroll)="onScroll($event)">
            <div class="col-8">
                <div class="top_heading_movies  d-flex justify-content-between">
                    <div class="col-3 px-3">
                        <h4>Filters</h4>
                    </div>
                    <div class="col-9">
                        <h4 class="fs-4 fw-500">Events in {{commonService._selectCity()}}</h4>
                    </div>
                </div>
                <div class="filter_cards_container d-flex justify-content-between py-2">
                    <div class="col-3">
                        <div>
                            <div class="app_filter_box ">
                                <app-filter-accordion (filterEvent)="getFilter($event)"
                                    (clearFilterEvent)="clearFilter($event)">
                                </app-filter-accordion>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 d-block ">
                       <div class="top_bar_Comming_soon d-flex flex-column gap-3">
                            <div class="d-flex gap-2 language_text py-2 flex-wrap border-danger">
                                @for (item of commonService.selectedFiltersSignal(); track $index) {
                                @for(i of item.data;track $index){
                                <span [ngClass]="{selectedText: i.selected}" class="border-danger"
                                    (click)="getFilter({ filterName: i, type: item.type, index: $index })">
                                    {{i.text}}
                                </span>
                                }
                                }
                                @for (item of commonService.topFiltersArray(); track $index) {
                                @for (i of item.data; track $index) {
                                @if (!i.selected && 'Categories' == item.type) {
                                <span [ngClass]="{ selectedText: item.selected }"
                                    (click)="getFilter({ filterName: i, type: item.type, index: $index })">
                                    {{ i.text }}
                                </span>
                                }
                                }
                                }
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="d-flex justify-content-start align-items-start g-0">
                                    <div class="main_box_crasoule w-100">
                                        <div class="main_filter_card overflow-hidden">
                                            <div
                                                class="filter_text d-flex flex-wrap gap-3 py-3 justify-content-start align-items-start">
                                              @if (dummyMoviesdata.length<=0 && !loaderService.loading()) {
                                                     <div class="d-flex flex-column gap-3 justify-content-center align-items-center w-100 no_data_found">
                                                         <img src="assets/images/No_result_found.png">
                                                         <p class="text-secondary">Your filter combination didn't fetch any results... Kindly reset to discover more.</p>
                                                         <button class="btn btn-outline-danger"(click)="resetFilter()">Reset Filter</button> 
                                            </div>
                                            }
                                            @else {
                                            @for (item of dummyMoviesdata; track $index) {
                                            <ng-container class="overflow-hidden w-50">
                                                <div class="col card_container">
                                                    <div class="card shadow-sm">
                                                        <a class="img_container rounded-4 rounded-top justify-content-start"
                                                            [routerLink]="`/${commonService._selectedCategory()}/${item.name?.split(' ').join('-')}/${item.eventId}`">
                                                            <img [src]="commonService.getImageFromBase64(item?.imageurl)"
                                                                [alt]="item?.imageurl">
                                                        </a>
                                                        <div class="card-body rounded-bottom bg-dark">
                                                            <div class="d-flex gap-2">
                                                                <span class="text-white">
                                                                    {{item?.startDate}}
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div> 
                                                    <div class="bottom_text_movie_card py-3">
                                                        <h6 class="card-text m-0">{{item?.name | truncate:25}} </h6>
                                                        <span class="m-0 d-flex">{{item?.venueName[0]}}</span>
                                                        <span class="m-0">{{item?.categories}}</span>
                                                        <span class="m-0 d-flex">₹ {{item.pricelist?.[0]}}</span>
                                                    </div>
                                                </div>
                                            </ng-container>
                                            }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>