.seeAll_txt {
  margin: 0px;
  text-decoration: none;
  word-break: break-word;
  color: rgb(220, 53, 88);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.43;
  cursor: pointer;
}

.bottom_text_movie_card h6 {
  margin: 0px 0px 4px;
  word-break: break-word;
  color: rgb(34, 34, 34);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.33;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

// .card_section{
//   width: 350px;
//   max-width: 350px;
//   cursor: pointer;

// }
.card_section .col {
  width: 250px;
  max-width: 250px;
}

.card_section:hover {
  transform: scale(1.03);
  transition: all 0.3s ease-in-out;
}

.bottom_text_movie_card span {
  margin: 0px;
  word-break: break-word;
  color: rgb(102, 102, 102);
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.carousel-indicators button {
  border-radius: 50% !important;
}

.img_container img {
  height: 340px;
  max-height: 340px;
  width: -webkit-fill-available;
}

.main_box_crasoule {
  width: calc(100%);
  max-width: calc(100%);
}

.main_box_crasoule .icon_box {
  width: calc(100% - 96%);
  max-width: calc(100% - 96%);
}

.main_box_crasoule .main_filter_card {
  width: calc(100% - 4%);
  max-width: calc(100% - 4%);
}

.filter_container {
  position: absolute;
  top: 80px;
  width: 600px;
  left: 37%;
  padding: 10px;
}

.top_recommanded_movie_text {
  padding: 0px 70px 0px 65px;
}

.arrow-btn {
  border: none;
  border-radius: 50%;
  color: white;
  background-color: rgba(34, 34, 34, 0.8);
  width: 40px;
  height: 40px;
  padding: 8px 12px;
  font-size: 13px;
  margin-left: 5px;
  cursor: pointer;
}

.arrow-btn:disabled {
  opacity: 0.5;
  display: none;
}

.stream_poster {
  padding: 70px;
}