<!-- carousel -->

<div class="conatiner-fluid">
  <div class="row g-0">
    <carousel id="carouselExample" class="carousel slide" data-bs-ride="carousel" [interval]="2000" indicators="false"
      [isAnimated]="true">
      <div class="carousel-inner">
        <slide class="carousel-item active">
          <div class="carousel-image-container">
            <img class="carousel-image left" src="assets/images/movies_carousel_img1.avif" alt="Image 2">
            <img class="carousel-image center" src="assets/images/movies_carousel_img2.avif" alt="Image 1">
            <img class="carousel-image right" src="assets/images/movies_carousel_img1.avif" alt="Image 3">
          </div>
        </slide>
        <slide class="carousel-item">
          <div class="carousel-image-container">
            <img class="carousel-image left" src="assets/images/movies_carousel_img2.avif" alt="Image 2">
            <img class="carousel-image center" src="assets/images/movies_carousel_img1.avif" alt="Image 1">
            <img class="carousel-image right" src="assets/images/movies_carousel_img2.avif" alt="Image 3">
          </div>
        </slide>
        <slide class="carousel-item active">
          <div class="carousel-image-container">
            <img class="carousel-image left" src="assets/images/movies_carousel_img1.avif" alt="Image 2">
            <img class="carousel-image center" src="assets/images/movies_carousel_img2.avif" alt="Image 1">
            <img class="carousel-image right" src="assets/images/movies_carousel_img1.avif" alt="Image 3">
          </div>
        </slide>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </carousel>
  </div>
</div>


<!-- Recommended Movies -->
<div class="conatiner-fluid">
  <div class="row g-0">
    <div class="main_conatiner_box mt-5 d-flex justify-content-center">
      <div class="col-9 py-3">
        <div class="top_recommanded_movie_text d-flex justify-content-between align-items-center">
          <h4 class="recommended_movie_headding mb-3">Recommended Movies</h4>
          <a class="seeAll_txt" [routerLink]="['/explore/movies']">
            See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-12 py-3">
          <div class="d-flex justify-content-center g-0">
            <div class="main_box_crasoule d-flex align-items-center">

              <!-- Left Arrow -->
              <div class="icon_box d-flex justify-content-end me-3">
                @if((pageNoMap['Movie'] ?? 0) > 0){

                <button class="arrow-btn" (click)="prev('Movie', movieData)">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                }
              </div>
              <!-- Carousel Content -->
              <div class="main_filter_card ">
                <div class="d-flex gap-3">
                  @for (item of visibleData['Movie']; track $index) {
                  <div class="card_section">
                    <div class="col" [routerLink]="[`/movies/${commonService._selectCity()}/${item.eventId}`]">
                      <div class="card shadow-sm">
                        <div class="img_container">
                          <img [src]="getImageFromBase64(item.imageurl)" [alt]="item.imageUrl" class="img-fluid">
                        </div>
                        <div class="card-body rounded-bottom bg-dark">
                          <div class="d-flex gap-2">
                            <span>
                              <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
                            </span>
                            <span class="text-white">
                              {{item.likes | numberFormat}} likes
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="bottom_text_movie_card">
                        <h6 class="card-text m-0">{{ item.name | truncate:15 }}</h6>
                        <span class="m-0">{{ item.Genre }}</span>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>

              <!-- Right Arrow -->
              <div class="icon_box d-flex justify-content-start ms-3">
                @if(((pageNoMap['Movie'] ?? 0) + 1) * itemsPerCards < movieData.length){ <button class="arrow-btn"
                  (click)="next('Movie', movieData)">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </button>
                  }

              </div>

            </div>
          </div>
        </div>
        <div class=" d-flex justify-content-center  stream_poster">
          <img src="assets/images/stream-leadin-web-collection-202210241242.avif" alt="render" class="img-fluid">
        </div>

      </div>
    </div>
  </div>
</div>
<!-- Latest Shows -->
<div class="conatiner-fluid">
  <div class="row g-0">
    <div class="main_conatiner_box d-flex justify-content-center">
      <div class="col-9 py-3">
        <div class="top_recommanded_movie_text d-flex justify-content-between align-items-center">
          <h4 class="recommended_movie_headding mb-3">The Latest Shows</h4>
          <a class="seeAll_txt" [routerLink]="['/explore/plays']">
            See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-12 py-3">
          <div class="d-flex justify-content-center g-0">
            <div class="main_box_crasoule d-flex align-items-center">

              <!-- Left Arrow -->
              <div class="icon_box d-flex justify-content-end me-3">
                @if((pageNoMap['Plays'] ?? 0) > 0){

                <button class="arrow-btn" (click)="prev('Plays', playsData)">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                }
              </div>
              <!-- Carousel Content -->
              <div class="main_filter_card ">
                <div class=" d-flex gap-3">
                  @for (item of visibleData['Plays']; track $index) {
                  <div class=" card_section">
                    <div class="col"
                      [routerLink]="`/${commonService._selectedCategory()}/${item.name.split(' ').join('-')}/${item.eventId}`">
                      <div class="card shadow-sm">
                        <div class="img_container">
                          <img [src]="getImageFromBase64(item.imageurl)" [alt]="item.imageUrl" class="img-fluid">
                        </div>
                        <div class="card-body rounded-bottom bg-dark">
                          <div class="d-flex gap-2">
                            <span>
                              <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
                            </span>
                            <span class="text-white">
                              {{item.likes | numberFormat}} likes
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="bottom_text_movie_card">
                        <h6 class="card-text m-0">{{ item.name | truncate:15 }}</h6>
                        <span class="m-0">{{ item.Genre }}</span>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>
              <!-- Right Arrow -->
              <div class="icon_box d-flex justify-content-start ms-3">
                @if(((pageNoMap['Plays'] ?? 0) + 1) * itemsPerCards < playsData.length){ <button class="arrow-btn"
                  (click)="next('Plays', playsData)">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </button>
                  }


              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<!-- Games & Top Plays -->
<div class="conatiner-fluid">
  <div class="row g-0">
    <div class="main_conatiner_box mt-5 d-flex justify-content-center">
      <div class="col-9 py-3">
        <div class="top_recommanded_movie_text d-flex justify-content-between align-items-center">
          <h4 class="recommended_movie_headding mb-3">Top Games & Sport Events</h4>
          <a class="seeAll_txt" [routerLink]="['/explore/sports']">
            See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-12 py-3">
          <div class="d-flex justify-content-center g-0">
            <div class="main_box_crasoule d-flex align-items-center">

              <!-- Left Arrow -->
              <div class="icon_box d-flex justify-content-end me-3">
                @if((pageNoMap['Sports'] ?? 0) > 0){
                <button class="arrow-btn" (click)="prev('Sports', sportsData)">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                }

              </div>

              <!-- Carousel Content -->
              <div class="main_filter_card ">
                <div class=" d-flex gap-3">
                  @for (item of visibleData['Sports']; track $index) {
                  <div class=" card_section">
                    <div class="col"
                      [routerLink]="`/${commonService._selectedCategory()}/${item.name.split(' ').join('-')}/${item.eventId}`">
                      <div class="card shadow-sm">
                        <div class="img_container">
                          <img [src]="getImageFromBase64(item.imageurl)" [alt]="item.imageUrl" class="img-fluid">
                        </div>
                        <div class="card-body rounded-bottom bg-dark">
                          <div class="d-flex gap-2">
                            <span>
                              <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
                            </span>
                            <span class="text-white">
                              {{item.likes | numberFormat}} likes
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="bottom_text_movie_card">
                        <h6 class="card-text m-0">{{ item.name | truncate:15 }}</h6>
                        <span class="m-0">{{ item.Genre }}</span>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>

              <!-- Right Arrow -->
              <div class="icon_box d-flex justify-content-start ms-3">
                @if(((pageNoMap['Sports'] ?? 0) + 1) * itemsPerCards < sportsData.length){ <button class="arrow-btn"
                  (click)="next('Sports', sportsData)">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </button>
                  }
              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<!-- Activities  -->
<div class="conatiner-fluid">
  <div class="row g-0">
    <div class="main_conatiner_box mt-5 d-flex justify-content-center">
      <div class="col-9 py-3">
        <div class="top_recommanded_movie_text d-flex justify-content-between align-items-center">
          <h4 class="recommended_movie_headding mb-3">Explore Fun Activities</h4>
          <a class="seeAll_txt" [routerLink]="['/explore/activities']">
            See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-12 py-3">
          <div class="d-flex justify-content-center g-0">
            <div class="main_box_crasoule d-flex align-items-center">

              <!-- Left Arrow -->
              <div class="icon_box d-flex justify-content-end me-3">
                @if((pageNoMap['Activities'] ?? 0) > 0){
                <button class="arrow-btn" (click)="prev('Activities', activiesData)">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                }

              </div>

              <!-- Carousel Content -->
              <div class="main_filter_card ">
                <div class=" d-flex gap-3">
                  @for (item of visibleData['Activities']; track $index) {
                  <div class=" card_section">
                    <div class="col"
                      [routerLink]="`/${commonService._selectedCategory()}/${item.name.split(' ').join('-')}/${item.eventId}`">
                      <div class="card shadow-sm">
                        <div class="img_container">
                          <img [src]="getImageFromBase64(item.imageurl)" [alt]="item.imageUrl" class="img-fluid">
                        </div>
                        <div class="card-body rounded-bottom bg-dark">
                          <div class="d-flex gap-2">
                            <span>
                              <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
                            </span>
                            <span class="text-white">
                              {{item.likes | numberFormat}} likes
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="bottom_text_movie_card">
                        <h6 class="card-text m-0">{{ item.name | truncate:15 }}</h6>
                        <span class="m-0">{{ item.Genre }}</span>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>

              <!-- Right Arrow -->
              <div class="icon_box d-flex justify-content-start ms-3">
                @if (((pageNoMap['Activities'] ?? 0) + 1) * itemsPerCards < activiesData.length) { <button
                  class="arrow-btn" (click)="next('Activities', activiesData)">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </button>

                  }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Events -->
<div class="conatiner-fluid">
  <div class="row g-0">
    <div class="main_conatiner_box mt-5 d-flex justify-content-center">
      <div class="col-9 py-3">
        <div class="top_recommanded_movie_text d-flex justify-content-between align-items-center">
          <h4 class="recommended_movie_headding mb-3">Outdoor Events</h4>
          <a class="seeAll_txt" [routerLink]="['/explore/events']">
            See All <i class="fa fa-angle-right ms-1" aria-hidden="true"></i>
          </a>
        </div>
        <div class="col-12 py-3">
          <div class="d-flex justify-content-center g-0">
            <div class="main_box_crasoule d-flex align-items-center">

              <!-- Left Arrow -->
              <div class="icon_box d-flex justify-content-end me-3">
                @if((pageNoMap['Event'] ?? 0) > 0){
                <button class="arrow-btn" (click)="prev('Event', eventsData)">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </button>
                }

              </div>

              <!-- Carousel Content -->
              <div class="main_filter_card ">
                <div class=" d-flex gap-3">
                  @for (item of visibleData['Event']; track $index) {
                  <div class=" card_section">
                    <div class="col"
                      [routerLink]="`/${commonService._selectedCategory()}/${item.name.split(' ').join('-')}/${item.eventId}`">
                      <div class="card shadow-sm">
                        <div class="img_container">
                          <img [src]="getImageFromBase64(item.imageurl)" [alt]="item.imageUrl" class="img-fluid">
                        </div>
                        <div class="card-body rounded-bottom bg-dark">
                          <div class="d-flex gap-2">
                            <span>
                              <i class="fa fa-thumbs-up text-success" aria-hidden="true"></i>
                            </span>
                            <span class="text-white">
                              {{item.likes | numberFormat}} likes
                            </span>
                          </div>
                        </div>
                      </div>
                      <div class="bottom_text_movie_card">
                        <h6 class="card-text m-0">{{ item.name | truncate:15 }}</h6>
                        <span class="m-0">{{ item.Genre }}</span>
                      </div>
                    </div>
                  </div>
                  }
                </div>
              </div>

              <!-- Right Arrow -->
              <div class="icon_box d-flex justify-content-start ms-3">
                @if (((pageNoMap['Event'] ?? 0) + 1) * itemsPerCards < eventsData.length) { <button class="arrow-btn"
                  (click)="next('Event', eventsData)">
                  <i class="fa fa-angle-right" aria-hidden="true"></i>
                  </button>

                  }


              </div>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>