<div class="conatiner-fluid mt-5 ">
    <div class="row g-0">
        <div class="main_container_box d-flex justify-content-center" (scroll)="onScroll($event)">
            <div class="col-8">
                <div class="top_heading_movies  d-flex justify-content-between">
                    <div class="col-3">
                        <h4>Filters</h4>
                    </div>
                    <div class="col-9">
                        <h4 class="fs-4 fw-500 m-0">Movies in {{commonService._selectCity()}}</h4>
                    </div>
                </div>
                <div class="filter_cards_container d-flex justify-content-between py-4">
                    <div class="col-3">
                        <div>
                            <div class="app_filter_box ">
                                <app-filter-accordion (filterEvent)="getFilter($event)"
                                    (clearFilterEvent)="clearFilter($event)">
                                </app-filter-accordion>
                            </div>
                        </div>
                    </div>
                    <div class="col-9 d-block ">
                        <div class="top_bar_Comming_soon d-flex flex-column gap-3">
                            <div class="d-flex gap-2 language_text py-2 flex-wrap">
                                @for (item of commonService.selectedFiltersSignal(); track $index) {
                                @for(i of item.data;track $index){
                                <span [ngClass]="{selectedText: i.selected}" class="border-danger">
                                    {{i.text}}
                                </span>
                                }
                                }
                                @for (item of commonService.topFiltersArray()[0]?.data; track $index) {
                                @if(!item.selected){

                                <span [ngClass]="{selectedText: item.selected}"
                                    (click)="commonService.handleEventFilter(item)">
                                    {{item.text}}
                                </span>
                                }
                                }
                            </div>
                            <div
                                class="d-flex justify-content-between py-4 px-3 rounded-2 comming_soon_bar bg-white align-items-center">
                                <h4 class="fs-5 fw-500 m-0"> Now Showing</h4>
                                <a class="explore_text" [routerLink]="['/explore/movies']">In Cineams near You <i
                                        class="fa fa-angle-right ms-1" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex justify-content-start align-items-start g-0">
                                <div class="main_box_crasoule">
                                    <div class="main_filter_card overflow-hidden">
                                        <div class="filter_text d-flex flex-wrap gap-3 py-5 justify-content-start ">
                                            @if (dummyMoviesdata.length<=0 && !loaderService.loading()) { <div
                                                class="d-flex flex-column gap-3 justify-content-center align-items-center w-100 no_data_found">
                                                <img src="assets/images/No_result_found.png">
                                                <p class="text-secondary">Your filter combination didn't fetch any
                                                    results... Kindly reset to discover more.</p>
                                                <button class="btn btn-outline-danger">Reset Filter</button>
                                        </div>
                                        }
                                        @else {
                                        @for (item of dummyMoviesdata; track $index) {
                                        @if (!item.releasedFlag) {
                                        <ng-container class="overflow-hidden w-50">
                                            <div class="col card_container">
                                                <div class="card shadow-sm">
                                                    <a class="img_container rounded-4"
                                                        [routerLink]="['/movie/',commonService._selectCity(),item.eventId]">
                                                        <img [src]="commonService.getImageFromBase64(item.imageurl)"
                                                            [alt]="item.imageurl">
                                                    </a>
                                                    <div class="card-body rounded-bottom bg-dark">
                                                        <div class="d-flex gap-2">
                                                            <span class="text-white">
                                                                {{item.releasingOn}}
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="bottom_text_movie_card py-3">
                                                    <h6 class="card-text m-0">{{item.name | truncate:25}} </h6>
                                                    <span class="m-0">{{item.languages}}</span>
                                                    <small class="d-flex align-items-center">
                                                        <i class="fa fa-thumbs-up me-1 text-success"
                                                            aria-hidden="true"></i>
                                                        <span>{{item.likes | numberFormat}}</span>
                                                    </small>
                                                </div>
                                            </div>
                                        </ng-container>
                                        }
                                        }
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>