.on_hover_icon {
  display: flex;
  align-items: center;
  width: 1.7rem;
  height: 1.7rem;
  overflow: hidden;
  transition: width 0.3s ease;
}

.on_hover_icon:hover {
  width: 20%;

  cursor: pointer;
}

.date_card {
  height: 72px;
  width: 60px;
  border: 1px solid rgb(223, 229, 230);
  cursor: pointer;
}

input[type="checkbox"].accent-blue {
  accent-color: #fd0d0d !important;
  -webkit-appearance: checkbox;
  /* ensure native look */
  appearance: checkbox;
}

.on_hover:hover {
  cursor: pointer;
}

.searchBox {
  width: 3rem;
  overflow: hidden;
  transition: width 0.3s ease;
}

.onSearchBox {
  width: 30rem
}

.date_disabled {
  opacity: 0.5;
  color: rgb(170, 170, 170);
  cursor: not-allowed
}

.time_slot_btn {
  width: 107px;
  height: 40px;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid rgb(31, 173, 62);
  border-left: 4px solid rgb(31, 173, 62);
}

.hover_container {
  position: relative;
  display: inline-block;
  /* shrink container to button size */
}

.hover-div {
  display: none;
  /* hide by default */
  width: max-content;
  /* or max-content */
  height: 5rem;
  padding: 5px;
  position: absolute;
  bottom: 5.2rem;
  /* distance above the button */
  left: 50%;
  /* center horizontally relative to container */
  transform: translateX(-50%);
  /* perfect center */
  background-color: white;
  color: #000000;
  border: 1px solid #333;
  text-align: center;
  padding: 0.5rem;
  border-radius: 4px;
  z-index: 10;
}

/* Show div when hovering the container/button */
.hover_container:hover .hover-div {
  display: flex;
}

.hover-btn {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #333;
  border-radius: 4px;
}

container {
  max-width: 900px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skeleton {
  background-color: #ddd;
  border-radius: 4px;
  animation: pulse 1.5s infinite ease-in-out;
}

.skeleton-title {
  height: 40px;
  width: 100%;
  margin-bottom: 20px;
}

.skeleton-genre {
  height: 25px;
  width: 70%;
  margin-bottom: 15px;
}

.skeleton-date {
  height: 30px;
  width: 120px;
  margin-bottom: 15px;
}

.skeleton-time {
  height: 30px;
  width: 100%;
  margin-bottom: 15px;
}

.skeleton-button {
  height: 45px;
  width: 30%;
  margin: 10px 0;
}

@keyframes pulse {
  0% {
    background-color: #ddd;
  }

  50% {
    background-color: #ccc;
  }

  100% {
    background-color: #ddd;
  }
}

.movie-title {
  margin-bottom: 25px;
}

.movie-info {
  margin-bottom: 30px;
}

.showtimes {
  margin-bottom: 30px;
}

.booking {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
}