.seatmap-wrap {
    max-width: 100%;
    margin: 16px auto;
    margin-top: 6rem;
    background: white;
    height: 80vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
    flex-wrap: wrap;
    background: #f5f5f5;
}

.times {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.time {
    padding: 6px 10px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    background: #f8fafc;
    cursor: pointer;
    border: 2px solid #22c55e;
}

.time:hover {
    background-color: white;
}

.time.active {
    color: #f8fafc;
    background: #22c55e
}

.summary {
    display: flex;
    align-items: center;
    gap: 12px;
}

.confirm {
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    background: #16a34a;
    color: white;
    cursor: pointer;
}

.legend {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 14px;
    color: #475569;
    position: fixed;
    bottom: 5px;
    padding: 5px 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1050;
    background: rgb(242, 245, 249);
}

.legend .key {
    display: inline-block;
    width: 18px;
    height: 12px;
    border: 1px solid #94a3b8;
    vertical-align: middle;
    margin-right: 6px;
    border-radius: 4px;
}

.legend .available {
    background: #fff;
}

.legend .selected {
    background: #22c55e;
    border-color: #22c55e;
}

.legend .booked {
    background: #e5e7eb;
}

.canvas-shell {
    width: 90%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    background: white;
}

canvas {
    cursor: pointer;
    display: block;
    width: 100%;
    min-height: 100%;
    background: white;
    margin: 0 auto;
    margin-top: 3rem;
}

.on_hover {
    cursor: pointer;
    color: rgb(124 124 124);

}

.on_hover:hover {
    scale: 1.1;
    color: #b9cce2
}

.seat-number {
    width: 32px;
    height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.2s;
}

.seat-number.selected {
    background-color: #ff3b6c;
    color: #fff;
    font-weight: bold;
    border-color: #ff3b6c;
}

.seat-number:hover {
    border-color: #ff3b6c;
}

.select_seat_btn {
    background-color: rgb(235, 78, 98);
    color: rgb(255, 255, 255)
}

.ticket_icon {
    color: rgb(235, 78, 98);

}