<div class="container-fluid bg-white">
    <div class="row g-0">
        <div class="col-12 d-flex flex-column justify-content-center align-items-center">
            <div class="col-8 d-flex gap-4 align-items-center  ">
                <div class="col-7 py-3 description_movie_section">
                    <h3>Kisi Ko Batana Mat Ft. Anubhav Singh Bassi </h3>
                </div>
                <div class="col-4">
                    <i class="fa fa-share" aria-hidden="true"></i>
                    <span>Share</span>
                </div>
            </div>
            <div class="col-8 d-flex justify-content-start gap-5 align-items-start">
                <div class="col-8 py-3">
                    <img class="w-100 oject-fill rounded-4 h-100"
                        src="https://assets-in.bmscdn.com/nmcms/events/banner/desktop/media-desktop-kisi-ko-batana-mat-ft-anubhav-singh-bassi-0-2025-3-9-t-8-12-52.jpg"
                        alt="">
                    <!-- bottom_text -->
                    <div class="d-flex justify-content-center align-items-start  py-4">
                        <div class="col-8 d-flex gap-2 poster_bottom_txt">
                            <p>stand up comedy</p>
                            <p>comedy shows</p>
                        </div>
                        <div class="col-4 text-end ">
                            <p class="likes_interested"> <i class="fa fa-thumbs-up me-1 text-success"
                                    aria-hidden="true"></i>You &
                                89.9k are interested
                            </p>
                        </div>
                    </div>
                    <!-- about events -->
                    <h3>About the Events</h3>
                    <p class="w-75">After the great success of his previous show Bas kar bassi, Anubhav Singh Bassi
                        is coming back to
                        perform live on stage. This time, he will bring a whole new set of funny stories and jokes that
                        will keep you entertained. Get ready to enjoy an exciting and hilarious performance that will
                        make you laugh uncontrollably and leave you in high spirits.</p>
                    <h3>You Should know</h3>
                    <div class="div w-75 rounded-4 d-flex align-items-center p-4 shadow-sm you_should_know_text">
                        <i class="fa fa-lightbulb-o fs-1 text-danger" aria-hidden="true"></i>
                        <p class="px-3 my-0"> Seating is on a first come first serve basis in
                            that respective section.</p>
                    </div>
                    <div class="py-3">
                        <h3>Artists</h3>
                        <div class="img-container">
                            <img src="https://in.bmscdn.com/Artist/anubhav-singh-bassi-1093365-1678091907.jpg"
                                class="rounded-4">

                            <h6 class="m-0">Anubhav Singh Bassi</h6>
                            <span>
                                Actor
                            </span>
                        </div>

                    </div>
                    <h4 class="py-3">M-Ticket</h4>
                    <div class="w-75 rounded-4 d-flex align-items-center p-4 shadow-sm m_ticket">
                        <i class="fa fa-ticket fs-1 text-danger" aria-hidden="true"></i>
                        <p class="px-3 my-0"> Seating is on a first come first serve
                            basis in that respective section.</p>
                    </div>
                    <h3 class="py-3">Terms & Conditions</h3>
                </div>

                <div class="col-3 ">
                    <div class="border h-100 rounded-4 bg-white ">
                        <div class="d-flex p-4 flex-column gap-3">

                            <div class="d-flex align-items-center gap-3">
                                <i class="fa fa-calendar-o" aria-hidden="true"></i>
                                <p class="my-0">Fri 5 Sep 2025 - Sun 26 Oct 2025</p>
                            </div>

                            <div class="d-flex align-items-center gap-3">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                                <p class="my-0">7:00 PM</p>
                            </div>

                            <div class="d-flex align-items-center gap-3">
                                <i class="fa fa-hourglass-half" aria-hidden="true"></i>
                                <p class="my-0">2 Hours</p>
                            </div>

                            <div class="d-flex align-items-center gap-3">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <p class="my-0">Age Limit - 16yrs +</p>
                            </div>

                            <div class="d-flex align-items-center gap-3">
                                <i class="fa fa-language" aria-hidden="true"></i>
                                <p class="my-0">Hindi</p>
                            </div>

                            <div class="d-flex align-items-center gap-3">
                                <img src="https://assets-in.bmscdn.com/nmcms/synopsis/genre.png" alt="genre"
                                    style="width: 25px; height:25px;">
                                <p class="my-0">Comedy</p>
                            </div>

                            <div class="d-flex align-items-center gap-3">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <p class="my-0">Lovely Professional University : Jalandhar</p>
                            </div>

                            <hr>

                            <div class="d-flex justify-content-between align-items-center">
                                <div>
                                    <p class="my-0">999 onwards</p>
                                    <p class="my-0 color-yellow">Filling Fast</p>
                                </div>
                                <button class="book_now_btn">Book now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="top_bar d-flex justify-content-center align-items-center bg-white border shadow-sm"
    [class.show]="showHeader">
    <div class="col-8 d-flex align-items-center gap-3 py-3">
        <h3>Kisi Ko Batana Mat Ft. Anubhav Singh Bassi </h3> <span><i class="fa fa-share-alt fs-3"
                aria-hidden="true"></i>
        </span>
    </div>
</div>