.full_with {
  width: calc(100%);
  max-width: calc(100%);
}

.dialog {
  width: 800px;
  min-width: 800px;
  position: relative;
  top: 100px;
}
.searchbox {
  width: 100%;
  min-width: 100%;
  position: relative;
  top: 0px;
  margin: 0px !important;
}
body {
  background-color: #f5f5f5 !important;
}
