.fa_search {
  color: rgb(170, 170, 170);

  //   border: none;
}
// .input-group-text {
//   border-radius: 5px 0px 0px 5px;
// }
.input-group {
  width: 500px;
  cursor: pointer;
}
.input-group span {
  color: rgb(170, 170, 170);
  font-size: small;
}

.search_cinema_input {
  border-left: none;
}
.card {
  border: none;
}
.cinema_details_text p {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.2px;
  margin: 0px;
}
.cinema_details_text span {
  color: rgb(102, 102, 102);
  margin: 8px 0px 0px;
}
.toggleBtn {
  transform: rotate(180deg);
}
