<div class="container-fluid mb-4">
    <div class="row d-flex justify-content-center">
        <div class="col-5">
            <form action="" [formGroup]="editProfileForm">
                <section class="upload_image_box">
                    <section class="d-flex align-items-center gap-2 top_container">
                        <div class="circle">
                            <div class="dropzone">
                                <img [src]="profileImage? commonService.getImageFromBase64(profileImage): (preview || 'assets/avatar.jpg')"
                                    class="upload-icon" alt="profile" />
                                <p>+Add</p>
                                <input type="file" class="upload-input" accept="image/*"
                                    (change)="onUploadImg($event)" />
                            </div>
                        </div>
                        <p class="text-white fs-5 fw-500">Hi, Guest</p>
                    </section>
                </section>
                <div class="second_section shadow-sm">
                    <section class="py-2 mt-5 w-100 h-100">
                        <p class="second_section_heading">Account Details</p>
                        <div class=" d-flex justify-content-between ">
                            <div class="email_section d-flex justify-content-between gap-5">
                                <span class="form-label">Email Address</span>
                                <div class="mail_data px-3">
                                    <span class="fw-bold">{{userDetails?.email}}</span>
                                    <span class="verified_tag ms-2">Verified</span>
                                </div>
                            </div>
                            <div class="edit_Icons d-flex gap-2 align-items-center"
                                (click)="openEditProfileModal(editProfileModal, 'email')">
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                                <span>Edit</span>
                            </div>
                        </div>

                        <div class="d-flex justify-content-between">
                            <div class="mobile_section d-flex align-items-center">
                                <span class="form-label lable_mobile"> Mobile Number</span>
                                <div class="add_mobile_number d-flex flex-column"
                                    (click)="openEditProfileModal(editProfileModal, 'number')">
                                    @if(userDetails?.phoneNumber){
                                    <div class="d-flex gap-3">
                                        <span class="fw-bold">+91 {{userDetails?.phoneNumber}}</span>
                                        <span class="verified_tag ms-2">Verified</span>
                                    </div>

                                    } @else {
                                    <a>
                                        + Add Mobile Number
                                    </a>
                                    }
                                    <span>Get a copy of the tickets on Whatsapp/SMS</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="third_section px-4 shadow-sm">
                    <section class="py-2 mt-5 w-100 h-100">
                        <p class="second_section_heading">Personal Details</p>
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">Full Name</label>
                            </div>
                            <div class="input_field">
                                <input type="text" class="form-control" placeholder="Enter your Full Name"
                                    formControlName="name">

                                @if(editProfileForm.get('name')?.touched &&
                                editProfileForm.get('name')?.hasError('required')){
                                <small class="text-danger">Full name is required</small>
                                }

                                @if(editProfileForm.get('name')?.touched &&
                                editProfileForm.get('name')?.hasError('minlength')){
                                <small class="text-danger">Full name must be at least 3 characters</small>
                                }

                                @if(editProfileForm.get('name')?.touched &&
                                editProfileForm.get('name')?.hasError('maxlength')){
                                <small class="text-danger">Full name cannot exceed 50 characters</small>
                                }

                            </div>
                        </div>
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">User Name</label>
                            </div>
                            <div class="input_field">
                                <input type="text" class="form-control" placeholder="Enter your User Name"
                                    formControlName="username">

                                @if(editProfileForm.get('username')?.touched &&
                                editProfileForm.get('username')?.hasError('required')){
                                <small class="text-danger">User name is required</small>
                                }

                                @if(editProfileForm.get('username')?.touched &&
                                editProfileForm.get('username')?.hasError('minlength')){
                                <small class="text-danger">User name must be at least 3 characters</small>
                                }

                                @if(editProfileForm.get('username')?.touched &&
                                editProfileForm.get('username')?.hasError('maxlength')){
                                <small class="text-danger">User name cannot exceed 50 characters</small>
                                }
                            </div>
                        </div>
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">Birthdate (optional)</label>
                            </div>
                            <div class="input_field">
                                <input type="date" class="form-control" formControlName="dob"  [max]="yesterday">
                            </div>
                        </div>
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">Identity (optional)</label>
                            </div>
                            <div class="input_field d-flex gap-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="women" value="women"
                                        formControlName="identity" name="identity">
                                    <label class="form-check-label" for="women">
                                        Women
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="man" value="man"
                                        formControlName="identity" name="identity">
                                    <label class="form-check-label" for="man">
                                        Man
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">Married? (optional)</label>
                            </div>
                            <div class="input_field d-flex gap-2">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="yes" value="yes"
                                        formControlName="married" name="married">
                                    <label class="form-check-label" for="yes">
                                        Yes
                                    </label>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="radio" id="no" value="no"
                                        formControlName="married" name="married">
                                    <label class="form-check-label" for="no">
                                        No
                                    </label>
                                </div>
                            </div>
                        </div>


                        @if(editProfileForm.get('married')?.value === 'yes'){
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">AnniversaryDate (optional)</label>
                            </div>
                            <div class="input_field">
                                <input type="date" class="form-control" formControlName="anniversaryDate">
                            </div>
                        </div>
                        }

                    </section>
                </div>
                <div class="fourth_section px-4 shadow-sm">
                    <section class="py-2 mt-5 w-100 h-100">
                        <p class="second_section_heading">Address (optional)</p>
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">Area Pincode</label>
                            </div>
                            <div class="input_field">
                                <input type="text" class="form-control" placeholder="E.g 560001"
                                    formControlName="pincode">
                                @if(editProfileForm.get('pincode')?.touched &&
                                editProfileForm.get('pincode')?.hasError('pattern')){
                                <small class="text-danger">Pincode must be 6 digits</small>
                                }
                                @if(editProfileForm.get('pincode')?.touched &&
                                editProfileForm.get('pincode')?.hasError('maxlength')){
                                <small class="text-danger">Pincode cannot exceed 6 digits</small>
                                }


                            </div>
                        </div>
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">Address Line 1</label>
                            </div>
                            <div class="input_field">
                                <input type="text" class="form-control" formControlName="addressLine1"
                                    placeholder="Flat no., House no., Building,">
                                @if(editProfileForm.get('address1')?.touched &&
                                editProfileForm.get('address1')?.hasError('maxlength')){
                                <small class="text-danger">Address Line 1 cannot exceed 255 characters</small>
                                }

                            </div>
                        </div>
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">Address Line 2</label>
                            </div>
                            <div class="input_field">
                                <input type="text" class="form-control" formControlName="addressLine2"
                                    placeholder="Area, Colony, Street, Sector, Village">
                                @if(editProfileForm.get('address2')?.touched &&
                                editProfileForm.get('address2')?.hasError('maxlength')){
                                <small class="text-danger">Address Line 2 cannot exceed 255 characters</small>
                                }

                            </div>
                        </div>
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">Town / City</label>
                            </div>
                            <div class="input_field">
                                <input type="text" class="form-control" placeholder="E.g. Mumbai"
                                    formControlName="city">
                            </div>
                        </div>
                        <div class="input_box">
                            <div class="title_text">
                                <label for="form-label">State</label>
                            </div>

                            <div class="input_field">
                                <select class="form-select" aria-label="Default select example" formControlName="state">
                                    <option value="" selected disabled>Select State</option>

                                    @for (item of states; track $index) {
                                    <option [value]="item.name" class="d-flex justify-content-between">
                                        {{item.name}}
                                    </option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="button_section mt-3 mb-4">
                            <button type="button" class="btn btn-primary w-100" [disabled]="editProfileForm.invalid"
                                (click)="onSubmitProfile()">Save
                                Changes</button>
                        </div>
                    </section>
                </div>
            </form>
        </div>
    </div>
</div>

<ng-template #editProfileModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title" id="modal-basic-title">Edit Profile</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="closeEditProfileModal()"></button>
    </div>

    <div class="modal-body p-0">
        <form [formGroup]="modalForm" class="p-3">

            @if (!editNumberFlag) {
            <div class="mb-3">
                <label class="form-label">Enter or Edit a valid Email Address below</label>
            </div>
            <div class="mt-2 d-flex flex-column gap-3">
                <input type="text" class="form-control" id="email" placeholder="Edit your Email Address"
                    formControlName="email">

                @if (modalForm.get('email')?.touched && modalForm.get('email')?.hasError('required')) {
                <small class="text-danger">Email is required</small>
                }
                @if (modalForm.get('email')?.hasError('pattern')) {
                <small class="text-danger">Invalid email format</small>
                }
            </div>
            }

            @if (editNumberFlag) {
            <div class="mb-3">
                <label class="form-label">Enter or Edit a valid Mobile Number below</label>
            </div>
            <div class="mt-2 d-flex flex-column gap-3">
                <input type="text" class="form-control" id="mobile" placeholder="Edit your Mobile Number"
                    formControlName="phoneNumber">

                @if (modalForm.get('phoneNumber')?.touched && modalForm.get('phoneNumber')?.hasError('required')) {
                <small class="text-danger">Phone number is required</small>
                }
                @if (modalForm.get('phoneNumber')?.hasError('minlength')) {
                <small class="text-danger">Phone number must be at least 10 digits</small>
                }
                @if (modalForm.get('phoneNumber')?.hasError('maxlength')) {
                <small class="text-danger">Phone number cannot exceed 10 digits</small>
                }
                @if (modalForm.get('phoneNumber')?.hasError('pattern')) {
                <small class="text-danger">Only digits are allowed</small>
                }
            </div>
            }

            <div class="button_section mt-3">
                <button type="button" class="btn btn-secondary w-100" [disabled]="modalForm.invalid"
                    (click)="onVerifyEmailOrPhone()">
                    Verify
                </button>
            </div>



        </form>
    </div>
</ng-template>