.book_now_btn {
  padding: 14px 24px;
  font-size: 16px;
  font-weight: 500;

  background: rgb(235, 78, 98);
  color: rgb(255, 255, 255);
  cursor: pointer;
  border: none;
  border-radius: 12px;
}

.poster_bottom_txt p {
  background-color: rgb(43, 49, 72);
  padding: 2px 8px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(255, 255, 255);
}
.likes_interested {
  color: rgb(51, 51, 51);
  font-size: 18px;
  font-weight: 500;

  letter-spacing: 0.2px;
}
.event_txt {
  font-size: 100%;
  font-weight: 400;

  vertical-align: baseline;
}
.top_bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-100%);
  transition: transform 0.3s ease;
  z-index: 1000;
}

.top_bar.show {
  transform: translateY(0);
}
.you_should_know_text {
  background-color: rgb(254 243 237);
}
.you_should_know_text {
  font-size: 17px;
}
.m_ticket p {
  font-size: 17px;
}
.m_ticket {
  background-color: rgb(254 243 237);
}
.img-container img{
  max-width: 200px;
}
.card_image img{
  max-height: 400px;
  max-width: 100%;
}
.side_card_details{
  position: sticky;
  top: 100px;
}